<!-- The Loading Spinner that will show on page load -->
<loading-spinner></loading-spinner>

<form class = "authContainer center" name = "infoForm" ng-submit = "updateOwner()">

    <h1>Additional Info</h1>

    <!-- Intro to the form -->
    <h4>Congratulations on being accepted for the Local Giftcard!
        We're going need to know some additioal information about you to get your account set up for payments.
        Please fill out all of the form below, and double check they are correct.
        You will then be sent to create your first location!</h4>

    <hr class = "triconBreak">

    <!--Date of Birth, just a text field :'(' -->
    <input class = "authInput center" type="text" name="dob" ng-model="formData.dob" placeholder="Date Of Birth (mm/dd/yyyy)" required>


    <div ng-show = "error.isError" class = "authWarning">
            <strong>{{error.text}}</strong>
    </div>

    <button class = "authButton"
    type = "submit"
    ng-disabled = "loading ||
    !infoForm.dob.$valid">Submit</button>

    <h5>By registering your account, you agree to the
        <a href = "https://stripe.com/connect/account-terms">
            Stripe Connected Account Agreement
        </a>
        , and our
        <a href = "#/terms">
            Terms & Privacy.
        </a>
    </h5>
</form>
