<!-- The Loading Spinner that will show on page load -->
<loading-spinner></loading-spinner>

<form class = "authContainer center" ng-submit = "login()">

    <h1>Login</h1>

    <input class = "authInput center" type="email" name="email" ng-model="email" placeholder="Email" required>

    <input class = "authInput center" type="password" name="password" ng-model="password" placeholder="Password" required>

    <div ng-show = "error.isError" class = "authWarning">
            <strong>{{error.text}}</strong>
    </div>

    <button class = "authButton" type = "submit"
    ng-disabled = "loading">Log In</button>
</form>
