<!-- The Loading Spinner that will show on page load -->
<loading-spinner></loading-spinner>

<!-- Part one of the creat location -->
<div ng-if = "!showNextPage">

    <form class = "center"
    name = "locationForm">

        <h1>Edit Location</h1>

        <input class = "authInput center"
        type="text"
        name="locationName"
        minlength = "1"
        ng-model="theForm.locationName"
        placeholder="Name" required>

        <input class = "authInput center"
        type="text"
        minlength = "1"
        name="address1"
        ng-model="theForm.address1"
        placeholder="Address" required>

        <input class = "authInput center"
        type="text"
        name="address2"
        ng-model="theForm.address2"
        placeholder="Address 2 (Suite, etc...) (Optional)">

        <input class = "authInput center"
        type="text"
        name="city"
        minlength = "1"
        ng-model="theForm.city"
        placeholder="City" required>

        <input class = "authInput center"
        type="text"
        minlength = "1"
        name="state"
        ng-model="theForm.state"
        placeholder="State" required>

        <input class = "authInput center"
        type="text"
        name="zipcode"
        minlength = "5"
        maxlenght = "5"
        ng-model="theForm.zipcode"
        placeholder="Zip Code" required>

        <a href = "/#/dashboard/main">
        <button
        class = "authButton center">Back</button>
        </a>

        <button class = "authButton"
        ng-disabled = "!locationForm.locationName.$valid ||
        !locationForm.address1.$valid ||
        !locationForm.city.$valid ||
        !locationForm.state.$valid ||
        !locationForm.zipcode.$valid"
        ng-click = "switchPage()">Continue</button>

    </form>


</div>

<!-- Tricon Keys -->
<div class = "center" ng-if = "showNextPage">

    <!-- Our message to the user -->
    <h4 class = "triconHeader">{{triconMessage}}</h4>

    <!-- Our Tricon Pad -->
	<!-- Our Selected tricons -->
	<!-- Using inline styles for our randomization so we can edit this later-->
    <div class = "codeContainer">
        <div ng-repeat="i in triconArray track by $index"
        class = "confirmCode">
    	          <div style="background-position: -{{i.pos}}px 0px;"
                  class="dialButton triconSheet selectedTricon locationTricon upside"></div>
        </div>
    </div>

    <hr class = "triconBreak">

	<table class="dialPad upside" align="center">

		<tr ng-repeat="n in tableLayout">
			<!-- Using inline styles for our randomization so we can edit this later-->
			<td ng-repeat="i in n">
			<div my-touchstart="pressed(i, $event);" my-touchend="unpressed(i, $event);" style="background-position: -{{images[i].pos}}px 0px;"
            class="dialButton triconSheet"></div></td>
		</tr>
	</table>

    <div ng-show = "error.isError" class = "authWarning">
            <strong>{{error.text}}</strong>
    </div>

    <!-- Delete and continue buttons -->
    <div class = "locationFooterButtons">
        <!-- delete the last tricon entered -->
        <div class = "dialBack locationButtonLeft"
        ng-disabled = "triconArray.length < 1"
        ng-click = "deleteTricon()">
            <div class = "authArrowContainer">
                <img src = "../images/arrows/left-facing-arrow-red.png" width = "100%" height = "100%">
            </div>
            <p class = "dialBackText">Delete</p>
        </div>

        <!-- Update the location -->
        <div class="enteredAmount locationButtonRight"
            ng-hide = "!confirmedCode || loading"
            ng-click = "updateLocation()">
             <p class="payText">Continue</p>
             <div class = "authArrowContainer">
                 <img src = "../images/arrows/right-facing-arrow-blu.png" width = "100%" height = "100%">
             </div>
        </div>
    </div>

</div>
