/**
***********************
  CLIQUE STYLES
***********************
**/

/* Clique Logo */
.clique_logo {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    height: auto;
    max-width: 225px;
    display: block;
}

//An uneeded wrapper
.clique_logo_wrapper {
  margin: 10px auto 5%;
  height: auto;
  max-width: 400px;
  display: block;
}
/* End Clique Logo */

/* Wrapper */
.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*--- section styles ---*/
label.inputlabel {
  font-size: 1.5em;
  width: 25%;
  text-align: right;
  position: relative;
  top: 7px;
  float: left;
}

.inputlabel img {
  height: 25px;
}

.rightColumn {
  width: 73%;
  border: 0;
  border-radius: 7px;
  margin: 0 0 0 2%; /* margin-left */
  height: 45px;
  display: inline-block;
  box-sizing: border-box;
}

/* Amount Selection */
#clique_amt_selection {
  height: 45px !important;
  position: relative;
  padding-top: 3px;
   overflow: hidden; /* don't show scroll bar */
  text-align: center; /* horizontally center this scrollwindow on the page */
}

#clique_amt_scrollwindow {
  width: 80%;
  max-width: 600px;
  display: inline-block;
   overflow-x: scroll;
  height: 100000em; /* push scroll bar downwards out of field of view */
  white-space: nowrap; /* don't wrap the price spans */
}

#clique_amt_scrollwindow small {
  font-size: 50%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.6em;
}

.price {
  border: 2px solid $standard;
  border-radius: 5px;
  color: $standard;
  font-size: 1.6em;
  display: inline-block;
  padding: 3px 0 0; /* top, left/right, bottom */
  height: 38px;
  width: 25%;
  min-width: 68px;
  max-width: 100px;
  margin: 0 1%; /* spacing between price boxes */
}

.price.active {
  background-color: $inverseStandard;
  border: 2px solid $standard;
  color: $standard;
}

.rightarrow,
.leftarrow {
  vertical-align: top;
  border-top: 0.8em solid transparent;
  border-bottom: 0.8em solid transparent;
  display: inline-block;
  position: relative;
  top: 0.5em;
}

.rightarrow {
  border-left: 0.8em solid $standard;
}

.leftarrow {
  border-right: 0.8em solid $standard;
}
/* End Amount Selection */

/* Clique Code Styles */
#flip_container {
  width: 70%;
  max-width: 350px;
  margin: auto;
  position: relative;

  @include perspective(750px);
}

/* use dummy container to set aspect ration of card */
/* See http://www.mademyday.de/css-height-equals-width-with-pure-css.html about setting fixed aspect ratios */
.dummy {
  padding-top: 60%;
}

.card {
  /* compensate for 3px border width */
  height: 95%;
  width: 97%;

  position: absolute;
  top: 0;
  border: 3px solid $inverseStandard;
  border-radius: 12px;
  background-color: $inverseStandardAlphaLight; /* translucent background */

   @include transition(transform 1.5s);
   @include backFaceVisibility(hidden);
}

#front {
  background-image: url('../images/giftcardLogos/long-beach-giftcard-blk2.png');
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}

#front.flipped {
  @include transform(rotateY(180deg));
}

#back {
  @include transform(rotateY(180deg));
}

.blackstrip {
	text-align: right;
  box-sizing: border-box;
  width: 100%;
  padding-right: 8%;
  position: absolute;
  top: 10%;
	opacity: 0.8;
	font-size: 1.6em;
	color: $placeHolder;
	background-color: $inverseStandard;
}

#back img {
	position: absolute;
	right: 0;
	top: 8%;
	height: 2.2em;
	z-index: 3;
}

#back.flipped {
  @include transform(rotateY(360deg));
}

#clique_code {
  position: relative;

  /* somehow needed for Google Chrome to display the flip card correctly */
  @include backFaceVisibility(hidden);

}

#clique_code_message > div {
  line-height: 1.2em;
}

.italicMessage {
  display: block;
  font-style: italic;
  font-size: small;
}

.wSection{
    font-weight: 200;
}

#clique_occasion_selection ul {
  /* padding-bottom set to 0, relies on margin-bottom of each li instead */
  padding: 2% 2% 0% 2%;
  margin: 0;
  display: table;
}

#clique_occasion_selection li {
  list-style-type: none;
  width: 50%;
  height: 20%;
  float: left;
  color: $standard;
  font-size: 1.2em;
  margin-bottom: 2.1%; /* 0.02/0.96 = 0.21 (try to match the padding from the other sides of the ul) */
}

#clique_occasion_selection img {
  max-width: 20%;
  margin-right: 5%;
  vertical-align: middle;
}

/* allow occasion selection and date selection to take up full screen width when width drops below 320px */
@media screen and (max-width: 319px) {
    #clique_occasion_selection li  {
        float: none;
        width: 100%;
    }

    #dateImages > div {
        width: 100% !important;
    }
}

#clique_input_occasion_wrapper {
  position: relative; /* needed for occCharCount to be positioned properly */
  height: 100%;
  padding: 0.2em 0.5em 1.3em 2%;
  /* background-color: $inverseStandard; */
}

#clique_input_occasion {
  height: 5em;
  outline: none;
  resize: none;
  font-size: 1em; /* by default, Google Chrome shrinks font-size in <input> and <textarea> fields, so we need to explicitly set the font-size to maintain consistency across browsers */
  font-family: 'helvetica','sans-serif','arial';
  width: 100%;
}

#occCharCount {
  position: absolute;
  color: $placeHolder;
  bottom: 0.3em;
  right: 0.4em;
  white-space: nowrap; /* don't let character count take up more than 1 line */
}
/* end occasion section styles */

/* date picker styles */
#clique_date_selection {
  color: $standard;
  width: 100%;
  text-align: center;
  font-size: 1.75em;
}

#clique_date_wrapper {
    position: relative;
    height: 100%;
    padding: 0.2em 0.5em 1.3em 2%;
}

#dateImages {
  font-size: 1.2em;
  min-height: 45px;
}

#dateImages > div {
  height: 100%;
  width: 48%;
  display: inline-block;
  line-height: 2.1em;
}

#dateImages  img {
  margin-right: 1%;
  max-height: 80%;
  max-width: 20%;
  vertical-align: middle;
}

#clique_input_date {
  background: transparent;
  font-size: 1em;
}
/* end date picker styles */

/* payment styles */
#clique_payment_card {
  /*overflow: hidden;*/
  font-size: 0.6em;
}

/* Final Overlay Styles */
#finalOverlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: $standard;
  opacity: 0.5;
  display: table;
  text-align: center;
  @include transition(opacity 2s);

  .complete {
      opacity: 0.9;
  }

}

/**
***********************
  END CLIQUE STYLES
***********************
**/
