//Colors
$colorBg: #4fcfc8;
$danger: #df5241;
$darkOverlay: #3fdcd5;
$authBg: #316D6B;
$inverseStandard: #E9EEF6;
$inverseStandardAlphaLight: rgba(255, 255, 255, 0.35);
$inverseStandardAlphaDark: rgba(255,255,255,0.7);
$standard: #0E0C0F;
$standardAlphaLight: rgba(0, 0, 0, 0.35);
$standardAlphaDark: rgba(0,0,0,0.7);
$placeHolder: grey;
$container: rgba(37,81,79, 0.85);
$containerHover: rgba(37,81,79, 0.45);
$useItNow: lightseagreen;
$saveForLater: lightcoral;
$spinnerLight: rgba(79,207,200,0.25);
$spinnerDark: rgba(79,207,200,0.75);
