//Our font families for the project
@font-face {
    font-family: 'always_in_my_heartregular';
    src: url('../fonts/always_in_my_heart-webfont.eot');
    src: url('../fonts/always_in_my_heart-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/always_in_my_heart-webfont.woff') format('woff'),
         url('../fonts/always_in_my_heart-webfont.ttf') format('truetype'),
         url('../fonts/always_in_my_heart-webfont.svg#always_in_my_heartregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'profontwindowsregular';
    src: url('../fonts/ProFontWindows-webfont.eot');
    src: url('../fonts/ProFontWindows-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProFontWindows-webfont.woff') format('woff'),
         url('../fonts/ProFontWindows-webfont.ttf') format('truetype'),
         url('../fonts/ProFontWindows-webfont.svg#profontwindowsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

//Our font stacks
$familyStandard: 'helvetica','sans-serif','arial';
$familyFancy: 'always_in_my_heartregular';
$familyDigital: 'profontwindowsregular',Courier,serif;

/* Font Styles */
.heart {
  font-family: $familyFancy;
  font-size: 2.4em;
  padding: 0 1%;
}

.profont {
  font-family: $familyDigital;
  font-size: 2em;
  padding: 0 2%;
}

.helveticaInput {
  font-size: 1.5em;
  line-height: 45px;
  padding-left: 2%;
}

.helveticaText {
  font-size: 1em;
  line-height: 45px;
  padding-left: 2%;
}

.bold {
  font-weight: bold;
}
/* End Font Styles */
