/**
***********************
    MERCHANT PANEL
***********************
**/

.authContainer {
    padding: 10px;
    color: $standard;

    h1 {
        margin-top: 0px;
    }
}

.authInput {

    @extend .waterfall;

    margin-top: 10px;
    font-size: 1.5em;
    color: $standard;
    background-color: $inverseStandardAlphaDark;
    border-radius: 3px;
}

.authButton {
    @extend .giftcardButtonSave;

    color: $useItNow;
    border-style: none;
    margin-top: 10px;
    display: inline-block;

    &:disabled {
        background-color: $inverseStandardAlphaLight;
        color: $standardAlphaDark;
    }

}

.authWarning {
    @extend .form-incomplete;
    @extend .blackText;

    margin-top: 10px;

}

.radioContainer {

    .joinRadio {
        width: 30px;
        height: 30px;
        vertical-align: top;
    }

    .radioText {
        font-size: 25px;
        font-weight: initial;
    }

}

.cardTop {
    background-color: $inverseStandard;
}

.cardBottom {
    background-color: $inverseStandardAlphaLight;
}

.selectedTricon {
    display: inline-block;
}

.triconHeader {
    @extend .center;

    color: $inverseStandard;
    height: 80px;
}

.confirmCode {
    text-align: center;
    display: inline-flex;
    height: 100px;
}

.triconBreak {
    margin-top: 5px;
    margin-bottom: 5px;
}

.locationContainer {
    @extend .giftcardContainer;

    margin-top: 10px;

    a {
        color: $inverseStandard;
        text-decoration: none;
    }

    h2 {
        margin-top: 0px;
    }

    .locationArrow {
        position: relative;
        color: black;
        font-size: 40px;
        float: right;
    }

    &:hover {
        background-color: $containerHover;
    }
}

.locationTriconContainer {
    display: inline-block;

    .locationTricon {
        //Radical and awesome css zooming to resize the tricons
        zoom: 0.5;
        -moz-transform: scale(0.5);
        -moz-transform-origin: 0 0;
    }
}

/**
***********************
    END MERCHANT PANEL
***********************
**/
