/**
***********************
    MERCHANT PANEL
***********************
**/

.authContainer {
    padding: 10px;
    color: $standard;
}

.authInput {
    margin-top: 10px;
    font-size: 1.5em;
    color: $standard;
    background-color: $inverseStandardAlphaDark;
    border-radius: 3px;
}

.authButton {
    @extend .giftcardButtonSave;

    color: $useItNow;
    border-style: none;
    margin-top: 10px;
    display: inline-block;

    &:disabled {
        background-color: $inverseStandardAlphaLight;
        color: $standardAlphaDark;
    }

}

.authWarning {
    @extend .form-incomplete;
    @extend .blackText;

    margin-top: 10px;

}

.selectedTricon {
    display: inline-block;
}

.triconHeader {
    @extend .center;

    color: $inverseStandard;
}

.confirmCode {
    text-align: center;
    display: inline-flex;
}

.triconBreak {
    margin-top: 5px;
    margin-bottom: 5px;
}

.locationContainer {
    @extend .giftcardContainer;

    margin-top: 10px;

    a {
        color: $inverseStandard;
        text-decoration: none;
    }

    h2 {
        margin-top: 0px;
    }

    .locationArrow {
        position: relative;
        color: black;
        font-size: 40px;
        float: right;
    }

    &:hover {
        background-color: $containerHover;
    }
}

/**
***********************
    END MERCHANT PANEL
***********************
**/
