//Creating keyframe animations, Vendor Independent
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

//Using keyframe animations, Vendor Independent
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

//Transisition animations, Vendor Independent
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//Transform animations, Vendor Independent
@mixin transform($args) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

//Backface Visibility, Vendor Independent
@mixin backFaceVisibility($args...) {
  -webkit-backface-visibility: $args;
  -moz-backface-visibility: $args;
  -ms-backface-visibility: $args;
  -o-backface-visibility: $args;
  backface-visibility: $args;
}

//Box Sizing, Vendor Independent
@mixin boxSizing($args...) {
  -webkit-box-sizing: $args;
  -moz-box-sizing: $args;
  -ms-box-sizing: $args;
  -o-box-sizing: $args;
  box-sizing: $args;
}

//Perspective, Vendor Independent
@mixin perspective($args...) {
  -webkit-perspective: $args;
  -moz-perspective: $args;
  -ms-perspective: $args;
  -o-perspective: $args;
  perspective: $args;
}

//Border-Radius, Vendor Independent
@mixin borderRadius($args...) {
  -webkit-border-radius: $args;
  -moz-border-radius: $args;
  -ms-border-radius: $args;
  -o-border-radius: $args;
  border-radius: $args;
}

//Mixin for placeholder text in the app, Vendor Independent

$placeHolderSpeed: .15s;
@mixin darkPlaceholder {

  &::-webkit-input-placeholder {
      color: $standard;
      @include transition(color ease $placeHolderSpeed);
  }

  &::-moz-placeholder {
      color: $standard;
      @include transition(color ease $placeHolderSpeed);
  }
  &::-ms-input-placeholder {
      color: $standard;
      @include transition(color ease $placeHolderSpeed);
  }

  &::-o-input-placeholder {
      color: $standard;
      @include transition(color ease$placeHolderSpeed);
  }
  &::input-placeholder {
      color: $standard;
      @include transition(color ease $placeHolderSpeed );
  }

}

//Mixin for placeholder text in the app, Vendor Independent
@mixin lightPlaceholder {

  &::-webkit-input-placeholder {
      color: $placeHolder;
      @include transition(color ease $placeHolderSpeed);
  }

  &::-moz-placeholder {
      color: $placeHolder;
      @include transition(color ease $placeHolderSpeed);
  }
  &::-ms-input-placeholder {
      color: $placeHolder;
      @include transition(color ease $placeHolderSpeed);
  }

  &::-o-input-placeholder {
      color: $placeHolder;
      @include transition(color ease $placeHolderSpeed);
  }
  &::input-placeholder {
      color: $placeHolder;
      @include transition(color ease $placeHolderSpeed);
  }

}
