//Creating keyframe animations
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

//Using keyframe animations
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

//Transisition animations
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//Transform animations
@mixin transform($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


//Mixin for placeholder text in the app

$placeHolderSpeed: .15s;
@mixin darkPlaceholder {

  &:-webkit-input-placeholder {
      color: $standard;
      @include transition(color $placeHolderSpeed ease);
  }

  &:-moz-placeholder {
      color: $standard;
      @include transition(color $placeHolderSpeed ease);
  }
  &:-ms-input-placeholder {
      color: $standard;
      @include transition(color $placeHolderSpeed ease);
  }

  &:-o-input-placeholder {
      color: $standard;
      @include transition(color $placeHolderSpeed ease);
  }
  &:input-placeholder {
      color: $standard;
      @include transition(color $placeHolderSpeed ease);
  }

}

//Mixin for placeholder text in the app
@mixin lightPlaceholder {

  &:-webkit-input-placeholder {
      color: $placeHolder;
      @include transition(color $placeHolderSpeed ease);
  }

  &:-moz-placeholder {
      color: $placeHolder;
      @include transition(color $placeHolderSpeed ease);
  }
  &:-ms-input-placeholder {
      color: $placeHolder;
      @include transition(color $placeHolderSpeed ease);
  }

  &:-o-input-placeholder {
      color: $placeHolder;
      @include transition(color $placeHolderSpeed ease);
  }
  &:input-placeholder {
      color: $placeHolder;
      @include transition(color $placeHolderSpeed ease);
  }

}
