//Creating keyframe animations
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

//Using keyframe animations
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

//Transisition animations
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//Transform animations
@mixin transform($args) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

//Zoom
@mixin zoom($args...) {
  -moz-zoom: $args;
  -ms-zoom: $args;
  -o-zoom: $args;
  zoom: $args;
}

//Text size adjust
@mixin textSizeAdjust($args...) {
  -moz-zoom: $args;
  -ms-zoom: $args;
  -o-zoom: $args;
  zoom: $args;
}

//Backface Visibility
@mixin backFaceVisibility($args...) {
  -webkit-backface-visibility: $args;
  -moz-backface-visibility: $args;
  -ms-backface-visibility: $args;
  -o-backface-visibility: $args;
  backface-visibility: $args;
}


//Mixin for placeholder text in the app

$placeHolderSpeed: .15s;
@mixin darkPlaceholder {

  &::-webkit-input-placeholder {
      color: $standard;
      @include transition(color ease $placeHolderSpeed);
  }

  &::-moz-placeholder {
      color: $standard;
      @include transition(color ease $placeHolderSpeed);
  }
  &::-ms-input-placeholder {
      color: $standard;
      @include transition(color ease $placeHolderSpeed);
  }

  &::-o-input-placeholder {
      color: $standard;
      @include transition(color ease$placeHolderSpeed);
  }
  &::input-placeholder {
      color: $standard;
      @include transition(color ease $placeHolderSpeed );
  }

}

//Mixin for placeholder text in the app
@mixin lightPlaceholder {

  &::-webkit-input-placeholder {
      color: $placeHolder;
      @include transition(color ease $placeHolderSpeed);
  }

  &::-moz-placeholder {
      color: $placeHolder;
      @include transition(color ease $placeHolderSpeed);
  }
  &::-ms-input-placeholder {
      color: $placeHolder;
      @include transition(color ease $placeHolderSpeed);
  }

  &::-o-input-placeholder {
      color: $placeHolder;
      @include transition(color ease $placeHolderSpeed);
  }
  &::input-placeholder {
      color: $placeHolder;
      @include transition(color ease $placeHolderSpeed);
  }

}
