//Colors
$colorBg: #4fcfc8;
$danger: #df5241;
$darkOverlay: #3fdcd5;
$inverse: #E9EEF6;
$inverseAlphaLight: rgba(255, 255, 255, 0.35);
$inverseAlphaDark: rgba(255,255,255,0.7);
$standard: #0E0C0F;
$textPlaceHolder: grey;
