//Colors
$colorBg: #4fcfc8;
$danger: #df5241;
$darkOverlay: #3fdcd5;
$inverse: #E9EEF6;
$inverseAlphaLight: rgba(255, 255, 255, 0.35);
$inverseAlphaDark: rgba(255,255,255,0.7);
$standard: #0E0C0F;
$standardAlphaLight: rgba(0, 0, 0, 0.35);
$standardAlphaDark: rgba(0,0,0,0.7);
$placeHolder: grey;
$container: rgba(37,81,79, 0.85);
$useItNow: lightseagreen;
$saveForLater: lightcoral;
