$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/******
    Imports
******/

    //Import the colors
    @import 'colors';

    //Import the font families
    @import 'fonts';

    //Import the default yeoman sass
    @import 'yeomanstyles';

    //Import Bootstrap CSS changes
    @import 'bootstrapchanges';

    //Import General styles (body, backgrounds, etc...)
    @import 'general';

    //Import the old Clique css that is still being used
    @import 'clique';


/******
    END Imports
*******/

/**
***********************
  Create Giftcard
***********************
**/

.proceed_button {
  background-color: $standard;
  background-size: auto 60%;
  background-position: 1em 60%;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 7px;
  width: 100%;
  height: 45px;
  text-align: right;
  color: $darkOverlay;
  font-size: 1.2em;
  padding-right: 1em;
  cursor: pointer;

  &:disabled {
      background-color: $placeHolder;
      opacity: 0.6;
      cursor: default;
  }

}

.createGiftCardWidth {
  margin: 2% auto; /* increase margin-top and margin-bottom slightly */
  max-width: 600px;
}

.paymentcontainer {
  height: 45px;
  text-align: center;

  input {
      background-color: transparent;
      height: 100%;
  }

}

.nextInput {
  border-radius: 7px;
  background-color: $inverseStandardAlphaLight;
}

.form-incomplete {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: $inverseStandardAlphaLight;
    border-radius: 7px;
}

.createCode {
    @extend .currentInput;
    @extend .waterfall;

    margin-bottom: 1.5%;
}

.createCodeMessage {
    @extend .helveticaText;
    @extend .rightColumn;

    padding-top: 7px;
    font-size: 5vmin;
}

.PageTwoInput {
    @extend .helveticaInput;
    @extend .rightColumn;
    @extend .blackText;

    width: calc(75% - (40px + 25px));

    @include placeholder {
        font-size: .95em;
    }
}

.currentInput {
  -webkit-transition: background-color linear 0.25s;
  transition: background-color linear 0.25s;
  border-radius: 7px !important;
  opacity: 1 !important;

  &.ng-hide {
      display: none !important;
  }

  &.createTo {
      margin-bottom: 10px;
  }

  &.createAmount {
      padding-top: 3px;
  }

  &.datePicker {
      font-size: 2em
  }

}

.currentInputNoBorder {
  -webkit-transition: background-color linear 0.25s;
  transition: background-color linear 0.25s;
  opacity: 1 !important;

  &.ng-hide {
      display: none !important;
  }

}

.waterfall {
  -webkit-transition: opacoty linear 0.25s;
  transition: opacity linear 0.25s;
  opacity: 1 !important;

  &.ng-hide {
      opacity: 0 !important;
  }

}

.creditCardIcon {
    width: 50px;
    max-width: 30px;
    float: left;
    margin-top: 12px;
    margin-left: 5px;

    &.ng-hide {
      display: block !important;
      visibility: hidden;
    }
}

.creditCardCheck {
    @extend .creditCardIcon;

    float: right !important;
    margin-top: 6px;
    margin-right: 5px;
}

.creditCardNumInput {
    width: auto;
    padding: 0px !important;
    margin-left: 5px;
    font-size: 2.5em;
    font-family: 'profontwindowsregular';
}

.expiryM {
    @extend .creditCardNumInput;
  box-sizing: border-box;
  width: 30px;
  line-height: 45px;
}

.expiryY {
    @extend .expiryM;

    width: 45px;
}

.cvv {
    @extend .expiryM;
    margin-left: 10px;
    width: 37px;
}

.zipCC {
    @extend .expiryM;

    width: 75px;
}

.createBackendError {
    padding: 5px;
}

/**
***********************
  End Create Giftcard
***********************
**/

/**
***********************
  List Giftcards
***********************
**/

.flatRowListItem {
    background-color: $standardAlphaLight;
    border: none;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px !important;

    table {
        width: 100%;
    }

    .glyphAlign {
        line-height: 50px;
        text-align: left;
        padding-right: 0px
    }

    h3 {
        margin: 0px;
        font-weight: 300 !important;
    }

    h4 {
        margin-top: 0px;
    }

    .glyphicon {
        position: absolute;
        color: black;
        right: 0;
        top: calc(50% - 25px);
        padding-right: 5px;
        font-size: 50px;
    }

    &.totalAmount {
        background-color: rgba(255,255,255,1);
    }

    .dollarIcon {
        margin-right: 5px;
        margin-left: 2px;
    }

    .dollarGlyphicon {
        @extend .glyphicon;

        padding-top: 10px;
        color: $standard;
        font-size: 40px;
    }

    .fromText {
        @extend .heart;

        color: $inverseStandard;
    }

    .fromIcon {
        margin-right: 4px;
    }

    .fromTextSpent {
        @extend .fromText;

        color: $inverseStandardAlphaDark;
    }

    .fromIconSpent {
        @extend .fromIcon;

        opacity: .7;
        margin-bottom: 4px
    }

    .spentFooter {
        @extend .fromTextSpent;

        font-size: 20px;
    }

    .fromTextSent {
        @extend .fromText;

        color: $inverseStandardAlphaLight;
    }

    .fromIconSent {
        @extend .fromIcon;

        opacity: .3;
        margin-bottom: 4px
    }

    .sentFooter {
        @extend .fromTextSent;

        font-size: 20px;
    }
}

.giftlistAmount {
    float: right;
    color: $inverseStandard;
    padding: 5px;
    font-size: 1.4em;
    border-radius: 5px;
    border: 1px solid $inverseStandard;
}

.giftlistAmountSpent {
    @extend .giftlistAmount;

    color: $inverseStandardAlphaDark;
    border-color: $inverseStandardAlphaDark;
    font-size: 1.25em;
}

.giftlistAmountSent {
    @extend .giftlistAmount;

    color: $inverseStandardAlphaLight;
    border-color: $inverseStandardAlphaLight;
    font-size: 1.25em;
}

.listName {
    text-align: right;
    margin-top: 20px;
}

.listUserName {
    @extend .heart;

    color: $danger;
    font-size: 3em;
    text-align: right;
    padding-right: 15px;
    vertical-align: -webkit-baseline-middle;
    margin-bottom: 0px;
    display: inline;
}

.listProfileIcon {
    height: 29px;
    width: 41px;
    opacity: .3;
}

.listSectionHeader {
    margin-top: 20px;
    padding-left: 10px;
    color: $inverseStandard;
    font-weight: 300 !important;
}

/**
***********************
  End List Giftcards
***********************
**/

/**
***********************
  View Giftcard
***********************
**/

.giftcardContainer {
    background-color: $container;
    border-radius: 5px;
    padding: 10px;
    margin: 0px;
    color: $inverseStandard;
}

.giftcardButtonContainer {
    text-align: center;
}

.giftcardButtonSave {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-size: 5vmin;
  font-weight: 600;
  background: $inverseStandard;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: $saveForLater;
  margin-bottom: 10px;
  display: inline-block;
  white-space: pre;

  &:hover {
      text-decoration: none;
      color: $placeHolder;
  }

}

.giftcardButtonUse {
    @extend .giftcardButtonSave;
    padding: 10px 30px 10px 30px;
    color: $useItNow;
}

.viewIcon {
    float: left;
    margin-top: 0px;
}

.giftcardText {
    padding-left: 45px;
}

.giftcardMessage {
    @extend .whiteText;

    margin-top: 0px;
    font-size: 1.15em;
    text-align: left;
}

.giftcardSignature {
    @extend .textRightAlign;
    @extend .heart;
    @extend .whiteText;

    font-size: 1.75em;
    padding-right: 10px;
    margin-top: 0px;
}

.giftcardAmount {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 1.15em;
}

.giftcardMerchant {

    margin-top: 0px;
    font-weight: 400;
    margin-bottom: 20px;
}

.viewBackText {
    @extend .navText;

    vertical-align: middle;
    margin-left: -5px;
    display: inline;
    color: $standard;
}
/**
***********************
  End View Giftcard
***********************
**/

/**
***********************
  Merchant Selection
***********************
**/

.merchantBackText {
    @extend .navText;

    margin-left: -5px;
    display: inline;
    color: $standard;
    font-size: 25px;
}

.whiteHeader{
    color: $inverseStandard;
    font-weight: 300 !important;
    margin-top: 0px;
}

.whitePaddingHeader {
    @extend .whiteHeader;

    padding-left: 10px;
}

/**
***********************
  End Merchant Selection
***********************
**/

/**
***********************
  Enter Amount
***********************
**/

.enteredAmount {
    text-align: right;
    padding-right: 10px;
    padding-top: 15px;
}

.enterPadding {
    padding-left: 10px;
}

.amountText {
    font-size: 1.5em;
    color: $inverseStandard;
    padding-left: 10px;
    padding-top: 10px;
}

.payText {
    font-size: 1.3em;
    vertical-align: text-bottom;
    color: $darkOverlay;
    display: inline;
    padding-left: 10px;
}

.payArrow {
    display: inline;
    vertical-align: text-bottom;
}

.amountWarning {
    @extend .center;
    color: $danger;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.dialSheet {
    background-image: url("../images/auth-aqua-sheet.png");
    background-size: 1000px;
}

.dialBack {
    @extend .center;
    padding-top: 5%;

    .dialBackImg {
        display: inline;
    }

    .dialBackText {
        color: $danger;
        padding-left: 10px;
        display: inline;
        vertical-align: sub;
        font-size: 1.3em;
    }
}

.dialBackSpace {
    padding-top: 20%;
}

.localightLogoBottom {
    @extend .center;
    margin-top: 10px;
}

/**
***********************
  End Enter Amount
***********************
**/


/**
***********************
  Tilt Screen
***********************
**/

.tiltText {
    padding-left: 25%;
    padding-right: 25%;
}

.tiltSpacing {
    margin-top: 25%;
}

.tiltLocalight {
    margin-top: 10px;
}

.imagePaddingRight {
    padding-right: 5px;
}

.swipeLock {
    width: 71px;
    height: 71px;
    background: url('../images/lock-anim-sprite-wht.png') left bottom;
    background-size: auto 71px;
    animation: play 2.5s steps(15, end) infinite;
    transition: none;
    margin-top:5px;

}

.lockBorder {
    border-style: solid;
    border-radius: 45px;
    border-color: $darkOverlay;
    width: 90px;
    height: 90px;
    margin-right: auto;
    margin-left: auto;
}

@keyframes play {
    from { background-position:    0px; }
    to { background-position: 2130px; }
}

@-webkit-keyframes play {
    from { background-position:    0px; }
    to { background-position: 2130px; }
}

/**
***********************
  End Tilt Screen
***********************
**/

/**
***********************
  Enter Tricon
***********************
**/

.triconStar {
    @extend .center;
    color: $inverseStandard;
    padding: 10px;
}

.triconError {
    @extend .center;

    color: $inverseStandard;
    padding: 10px;
}

.triconSheet {
    background-image: url("../images/eatery-tricons-aqua-filled.png");
    background-size: 897px;
}

.triconFooterContainer {
    width: 33%;
}

.cancelIcon {
    vertical-align: sub;
    margin-left: 25%;
}

.infoIcon {
    @extend .cancelIcon;

    margin-left: 55%;
}

.friendlyShake {

    animation-name: shake;
    animation-duration: 0.8s;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes shake {
    0% { -webkit-transform: translate(8px, 0px) rotate(180deg); }
    5% { -webkit-transform: translate(-2px, 0px) rotate(180deg); }
    10% { -webkit-transform: translate(-1px, 0px) rotate(180deg); }
    15% { -webkit-transform: translate(8px, 0px) rotate(180deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(180deg); }
    25% { -webkit-transform: translate(8px, 0px) rotate(180deg); }
    30% { -webkit-transform: translate(1px, 0px) rotate(180deg); }
    35% { -webkit-transform: translate(-3px, 0px) rotate(180deg); }
    40% { -webkit-transform: translate(1px, 0px) rotate(180deg); }
    45% { -webkit-transform: translate(4px, 0px) rotate(180deg); }
    50% { -webkit-transform: translate(-1px, 0px) rotate(180deg); }
    55% { -webkit-transform: translate(8px, 0px) rotate(180deg); }
    60% { -webkit-transform: translate(-8px, 0px) rotate(180deg); }
    65% { -webkit-transform: translate(8px, 0px) rotate(180deg); }
    70% { -webkit-transform: translate(2px, 0px) rotate(180deg); }
    75% { -webkit-transform: translate(-3px, 0px) rotate(180deg); }
    80% { -webkit-transform: translate(-2px, 0px) rotate(180deg); }
    85% { -webkit-transform: translate(8px, 0px) rotate(180deg); }
    90% { -webkit-transform: translate(2px, 0px) rotate(180deg); }
    0% { -webkit-transform: translate(-4px, 0px) rotate(180deg); }
    100% { -webkit-transform: translate(4px, 0px) rotate(180deg); }
}

/**
***********************
  End Enter Tricon
***********************
**/

/**
***********************
  Confirmation Timeout
***********************
**/

.confirmationCheckmark {
    @extend .center;

    padding-bottom: 30%;
    margin-top: 40%;
}

.featuredImage {
    @extend .center;

    border-radius: 15px;
    border-top: 2px solid $inverseStandard;
    border-left: 2px solid $inverseStandard;
    max-width:400px;
}

.giftAmount {
    position: absolute;
    font-size: 30px;
    left: 32px;
    margin-top: 13px;
    width: 66px;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-color: $inverseStandard;
    border-width: 1px;
    margin-left: -2px;

    .smallDollar {
        font-size: 15px;
        margin-right: -7px;
        vertical-align: super;
        display: inline-block;
    }
}

.phoneEmailCheck {
    @extend .creditCardCheck;
}

.redirectText {
    @extend .center;
    padding-left: 10px;
    padding-right:10px;
}

/**
***********************
  End Confirmation Timeout
***********************
**/


/**
***********************
  Thank You
***********************
**/

.headerIcon {
    margin-top: 10px;
}

.headerOccasion {
    margin-top: 5px;
}

.thankYouNote {

    color: $standard;
    background-color: $inverseStandard;
}

.thankYouNoteText {

    color: $standard;
    font-size: 1.5em;
}

.signing {
    display:inline-block;
}

.thankCharCount {
    @extend .placeHolderTextStyle;

    display:inline-block;
    padding-left: 10px;
}

.thankButtonContainer {
    @extend .giftcardButtonContainer;

    margin-top: 10px;
}

.thankButtonSave {
    @extend .giftcardButtonSave;

    padding-right: 33px;
    padding-left: 33px;
}

/**
***********************
  End Thank You
***********************
**/

/**
***********************
  Localism
***********************
**/

.projectOfContainer {
    @extend .center;

    padding-top: 50px;

    p {
        @extend .blackText;

        font-size: 2em;
        display: inline;
    }

    h1 {
        @extend .blackText;
        @extend .heart;

        font-size: 3em;
        display: inline;
    }
}

.chooseLocal {
    @extend .blackText;
    @extend .center;

    margin-top: 0px;
}

.localismVideo {
    @extend .center;

    margin-top: 20px;
}

/**
***********************
  End Localism
***********************
**/

/**
***********************
  Main 404
***********************
**/

.mainContainer {
    @extend .giftcardContainer;
    @extend .center;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

/**
***********************
  End Main 404
***********************
**/


/**
***********************
  Responsiveness Fixes
***********************
**/

@media screen and (min-width: 768px) {
    .container {
      max-width: none;
      width: 100%;
    }
}

//Add padding across the app
.container {
    padding: 5px !important;
}

/**
***********************
  End Responsiveness Fixes
***********************
**/

//Merchant Panel import, depends on above styles
@import 'merchantpanel';

//Final Import, this for any quick fixes, that should integrated into the main at some point
@import 'quickfix';
