  <div data-ng-controller="RecipientController" class="container-fluid wrapper" data-ng-init="getGiftcards()">

    <div ng-class="{giftToUseItSections: merchantList }" style="-webkit-transition: all 1.5s ease-in-out;">

      <!-- header section with give option, clique logo and available balance -->
      <table class = "sub-header">
         <tr>
             <td class="paddingLeft"><a class="blackText navText" href="/#!/giftcards/create">
                 <img class = "imagePaddingRight" ng-src="/modules/giftcards/img/bowtie.png" alt="Give Icon" height="15px" width="30px">
                 Give</a></td>
             <td class="textRightAlign paddingRight blackText navText">${{totalValue()}}</td>
         <tr>
     </table>



      <!-- gift section -->
      <div class="giftcardContainer center" style = "max-width:500px;">

         <!-- Occasion Icon -->
         <img style = "float: left; margin-top: 10px" ng-src = "{{icons[giftcard.occasionNumber]}}" width= "45px" height = "45px">

         <!-- div for our text -->
         <div style = "padding-left: 55px">
            <!-- personal message -->
            <h4 class = "occasionMessage whiteText">{{giftcard.occasionMessage}}</h4>

            <!-- From -->
            <h3 class = "textRightAlign heart whiteText">~ {{giftcard.from}}</h3>
        </div>

        <!-- gift card image -->
        <img class = "center semiTransparentBGRounded" ng-src="{{merchantImages[0]}}" alt="Merchant Image" height="50%" width="100%" style = "max-width:400px;">

      </div>

      <!-- amount to use at which merchant section -->
      <div class="text-center merchantInfo blackText">
        <h4 class="center" id="useAmount">Use this ${{giftValue(giftcard.amt)}} gift at</p>
        <h2 class="center">Doly's Delectables</p>
      </div>

        <!-- use it now/later section -->
        <div class="giftcardButtonContainer">
            <a class="giftcardButtonSave" href="/#!/giftcards">Save For Later</a>
            <a class="giftcardButtonUse" href="/#!/merchants">Use It Now</a>
        </div>

    </div>
    <!-- for beta -->
    <div class="col-xs-12 text-center nearbyMerchant">
      <h4 class = "blackText">Or use it at one of many local merchants</h4>
    </div>
    <div class=""></div>
    <div class="col-xs-4 merchantArrow" ng-click="showMerchantList()"></div>
    <div class="col-xs-4"></div>

    <div class="col-xs-12 merchantList">
      <div class="district" ng-repeat="location in locations">
        {{location.location}}
        <div class="shop" ng-repeat="shop in location.shops">{{shop.name}}</div>
      </div>
    </div>

  </div>
