<!-- My idea is to create a few screens each with a little info to  -->
<section data-ng-controller="MerchantsController">
  <div class="page-header">
    <h1>Bank Info</h1>
  </div>
  <div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="addBankAccount()" novalidate>
      <fieldset>
        <div class="form-group">
          <h1>Contact Info</h1>
          <label class="control-label" for="first_name">Name as it appears on bank Account</label>
          <div class="controls">
            <input type="text" data-ng="name" id="name" class="form-control" placeholder="First and Last Name" required>
          </div>
          <label class="control-label" for="account_number">Bank Account Number</label>
          <div class="controls">
            <input type="text" data-ng="account_number" id="account_number" class="form-control" placeholder="XXXXXXXXXXXXXXXXXXXX" required>
          </div>
          <label class="control-label" for="routing_number">Routing Number</label>
          <div class="controls">
            <input type="text" data-ng-model="routing_number" id="routing_number" class="form-control" placeholder="routing_number" required>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <!--   I want to submit this information and make sure that it's not in the database already. -->
        <!-- on click, though I want to be taken to the next screen. -->
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
