<section data-ng-controller="MerchantsController">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"> Bank Account</h3>
  </div>
  <div class="panel-body">
    <form role="form" class="form-horizontal" data-ng-submit="addBankAccountToCuso" validate>
      <div class="form-group">
        <label class="col-lg-5 control-label">Account Holder's Name</label>
        <div class="col-lg-6">
          <input type="text" id="ba-name" class="form-control" autocomplete="off" placeholder="John Doe">
        </div>
    </div>
    <div class="form-group">
      <label class="col-lg-5 control-label">Routing Number</label>
      <div class="col-lg-6">
        <input type="text" id="ba-routing" class="form-control" autocomplete="off" placeholder="322271627">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-5 control-label">Account Number</label>
      <div class="col-lg-6">
        <input type="text" id="ba-number" class="form-control" autocomplete="off" placeholder="9900000000">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-5 control-label">Account Type</label>
      <div class="col-lg-6">
        <select id="ba-account-type" class="form-control">
          <option value="checking">Checking</option>
          <option value="savings">Savings</option>
        </select>
      </div>
    </div>
    <a id="ba-submit" class="btn btn-large btn-primary pull-right">Tokenize</a>
    </form>
  </div>
</div>
</section>
