<!-- My idea is to create a few screens each with a little info to  -->
<section data-ng-controller="MerchantsController">
  <div class="page-header">
    <h1>New Merchant Basic Info</h1>
  </div>
  <div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="signupMerchant()" novalidate>
      <fieldset>
        <div class="form-group">
          <h1>Contact Info</h1>
          <label class="control-label" for="first_name">First Name</label>
          <div class="controls">
            <input type="text" data-ng-model="first_name" id="first_name" class="form-control" placeholder="Owner's First Name" required>
          </div>
          <label class="control-label" for="last_name">Last Name</label>
          <div class="controls">
            <input type="text" data-ng-model="last_name" id="last_name" class="form-control" placeholder="Owner's Last Name" required>
          </div>
          <label class="control-label" for="phone_number">Phone Number</label>
          <div class="controls">
            <input type="text" data-ng-model="phone_number" id="phoneNumber" class="form-control" placeholder="Phone Number" required>
          </div>
          <label class="control-label" for="email_address">Email Address</label>
          <div class="controls">
            <input type="text" data-ng-model="email_address" id="email_address" class="form-control" placeholder="Email Address" required>
          </div>
          <h1>Business Info</h1>
            <label class="control-label" for="business_name">Business Name</label>
          <div class="controls">
            <input type="text" data-ng-model="business_name" id="business_name" class="form-control" placeholder="Business Name" required>
          </div>
          <h3>Business Billing Address</h3>
          <h2>enter address stuff later</h2>
          <!-- <div>
            <label>Account Number </label>
            <input type="text" data-ng-model="credentials.ba-number" id="ba-number" autocomplete="off" placeholder="account number">
          </div>
          <div> <label>Routing Number</label>
            <input type="text" data-ng-model="credentials.ba-routing" id="ba-routing" autocomplete="off" placeholder="routing number">
          </div> -->
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default">
        </div>
        <!--   I want to submit this information and make sure that it's not in the database already. -->
        <!-- on click, though I want to be taken to the next screen. -->
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
     </fieldset>
      </form>
    </div>
</section>
