<section data-ng-controller="MerchantsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="merchant.business_name"></h1>
	</div>
	<!-- need to go back and add this back in
	data-ng-show="authentication.user._id == merchant.user._id" -->
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/merchants/{{merchant._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Date Signed up:
			<span data-ng-bind="merchant.dateSignedUp | date:'mediumDate'"></span>
			by
			<span data-ng-bind="merchant.user.displayName"></span>
		</em>
	</small>
	<div class="page-body">
		<h3 data-ng-bind="merchant.ein"></h3>
		<h3 data-ng-bind="merchant.email"></h3>
		<h3 data-ng-bind="merchant.phoneNumber"></h3>
		<h4>add address stuff later.</h4>
	</div>
</section>
