<section data-ng-controller="MerchantsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="merchant.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == merchant.user._id))">
		<a class="btn btn-primary" href="/#!/merchants/{{merchant._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Date Signed up:
			<span data-ng-bind="merchant.dateSignedUp | date:'mediumDate'"></span>
			by
			<span data-ng-bind="merchant.signedUpBy.displayName"></span>
		</em>
	</small>
</section>
