<section data-ng-controller="GiftcardsController">
  <section ng-show="showPageFlag" data-ng-submit="setShowPage()">
    <!-- call whatever method you want on submit -->
    <div class="wrapper">
        <form name="giftcardForm"class="form-horizontal" data-ng-submit="create()" novalidate>

      <!-- logo -->
      <img class="clique_logo" src="modules/giftcards/img/logo-local-gift-card-blk.png">

      <!-- To -->
      <div id="clique_to" ng-class="{currentInput : showBackgroundFlag}">
        <label class="inputlabel" for="giftRecipientName">To</label>
        <input type="text" id="clique_input_to" ng-model="gc.giftRecipientFirstName" class="heart rightColumn" maxlength="16" placeholder="First Name">
      </div>

      <!--Amount-->
      <div id="clique_amt_selection" ng-show="priceSelectionFlag">
        <span class="leftarrow"></span>
        <div id="clique_amt_scrollwindow">
          <span ng-repeat="price in prices" class="price" ng-class="{active: isAmount(price)}" ng-click="setAmount(price);">
            <small>$</small>{{price}}</span>
        </div>
        <span class="rightarrow"></span>
      </div>
      <div id="clique_amt" ng-hide="priceSelectionFlag" ng-click="setBack()">
        <label class="inputlabel">$</label>
        <div class="helveticaInput rightColumn">{{gc.amount}}</div>
      </div>
    </div>

    <!--From-->
    <div id="clique_from" ng-class="{currentInput : showBackgroundFlagTwo}">
      <label for="From" class="inputlabel">From </label>
      <input type="text" data-ng-model="gc.giftSenderFirstName" class="heart rightColumn" placeholder="Your Name" maxlength="16" >
    </div>
    <!-- ng-show="dirty.Occasion || valid.Code" -->
    <br>
    <!--Code-->
    <!-- little demo thing -->
    <div id="clique_code_wrapper">
      <div id="flip_container">
        <div class="dummy"></div>
        <div id="front" class="card"></div>
        <div id="back" class="card">
          <div class="profont blackstrip">XXXXX</div>
          <img src="modules/giftcards/img/circle-outline.png" alt="Clique Code Outline">
        </div>
      </div>

      <div id="clique_code" class="marginBottom" ng-class="{currentInput: showBackgroundFlagThree}">
        <label for="Code" class="inputlabel">Code</label>
        <input type="text" id="clique_input_code" class="profont rightColumn number" placeholder="XXXXX" maxlength="5" pattern="\d*" data-formance_length=5 ng-model="formData.Code" ng-change="getStoreName()">
      </div>

      <div id="clique_code_message" class="hide">
        <label class="inputlabel">
          <!-- Invalid image url-->
          <!--<img src=".modules/giftcards/img/at-icon-blk.png"-->
        </label>
        <div class="helveticaText rightColumn">
          Good at
          <span class="bold">{{storeName}}</span>
          <span class="italicMessage">and participating merchants</span>
        </div>
      </div>
    </div>
    <br>
    <!--Occasion-->
    <div id="clique_occasion_wrapper">
      <div id="clique_occasion_selection" class="roundWhiteBorder" ng-show="occasionSelectionFlag">
        <ul>
          <li ng-repeat="occasion in occasions" ng-click="setOccasion(occasion)">
            <img ng-src="{{occasion.images.normal}}">{{occasion.alt}}
          </li>
        </ul>
      </div>

      <div id="clique_occasion" ng-class="{currentInput : showBackgroundFlagFour}" ng-hide="occasionSelectionFlag">
        <label for="clique_input_occasion" class="inputlabel" ng-click="setOccasionBack()">
          <img ng-src="{{occasions.selectedIcon}}">
        </label>

        <div id="clique_input_occasion_wrapper" class="rightColumn">
          <textarea id="clique_input_occasion" maxlength="100" ng-trim="false" ng-model="gc.occasion" ></textarea>
          <span id="occCharCount">{{100 - gc.occasion.length}} characters left</span>
        </div>
        <!--note: <textarea maxlength="100"> is only supported in HTML 5-->
      </div>
    </div>
    <br>

    <!--Date picker -->
    <input type="date" id="clique_date_selection" ng-model="dt" min-date="minDate" show-weeks="true" class="well well-lg" custom-class="getDayClass(date, mode)"></input>

    <!-- Date
    <div id="clique_date_wrapper">
      <div id="clique_date_selection" ng-show="sendSelectionFlag" class="roundWhiteBorder">
        <label class="inputlabel">Send</label>
        <div id="dateImages" class="rightColumn">
          <div id="sendToday" ng-click="setDateType('today')">
            <img id="sendTodayImg" src="modules/giftcards/img/send-today-wht.png" alt="Send Today"> Today
          </div>
          <div id="sendOnDate" ng-click="setDateType('on-date')">
            <img id="sendOnDateImg" src="modules/giftcards/img/send-on-date-wht.png" alt="Choose a Date"> On date
          </div>
        </div>
      </div>
      TODO: come back and add date picker. and transition back.

      <div id="clique_date" ng-hide="sendSelectionFlag">
        <label for="clique_input_date" class="inputlabel">
          <img ng-src="{{dateTypeImg}}" alt="Chosen Date">
        </label>
        <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
      </div>
    </div> -->


    <!--Pay by card-->
    <div id="clique_payment_card" class="roundWhiteBorder">
      <!-- Inner Container -->
      <div id="creditcardnumbercontainer" class="paymentcontainer">
        <!-- Credit Card Logo Img -->
        <img id="creditcardimg" ng-src="{{cardTypeImg}}">
        <!-- Credit Card Number Input -->
        <input type="text" id="clique_input_creditcardnumber1" class="profont ccnum-input" placeholder="XXXX" size="4" maxlength="4" pattern="\d*" ng-model="cc.number1" onKeyUp="if(document.getElementById('clique_input_creditcardnumber1').value.length > 3){document.getElementById('clique_input_creditcardnumber2').focus();}" >
        <input type="text" id="clique_input_creditcardnumber2" class="profont ccnum-input" placeholder="XXXX" size="4" maxlength="4" pattern="\d*" ng-model="cc.number2" onKeyUp="if(document.getElementById('clique_input_creditcardnumber2').value.length > 3){document.getElementById('clique_input_creditcardnumber3').focus();}" >
        <input type="text" id="clique_input_creditcardnumber3" class="profont ccnum-input" placeholder="XXXX" size="4" maxlength="4" pattern="\d*" ng-model="cc.number3" onKeyUp="if(document.getElementById('clique_input_creditcardnumber3').value.length > 3){document.getElementById('clique_input_creditcardnumber4').focus();}" >
        <input type="text" id="clique_input_creditcardnumber4" class="profont ccnum-input" placeholder="XXXX" size="4" maxlength="4" pattern="\d*" ng-model="cc.number4" >
        <!-- Checkmark box to the left -->
        <div class="checkmark"></div>
      </div>
      <!-- lower box that within same box but differnet background -->
      <div id="creditcardinfo" class="paymentcontainer filledIn">
        <!-- Date input for credit card -->
        <input type="text" id="clique_input_expiry" class="profont expiry credit_card_expiry" placeholder="MM / YYYY" maxlength="9" size="9" pattern="\d*" ng-model="formData.Expiry" ng-focus="expiryFocus()" >
        <!-- CVV for Credit Card -->
        <!-- TODO: Come back and split up the month and year -->
        <input type="text" id="clique_input_cvv" class="profont expiry credit_card_cvc" placeholder="CVC" maxlength="4" size="4" pattern="\d*" ng-model="cc.cvc" ng-focus="expiryFocus()" >
        <!-- Zip for credit card -->
        <input type="text" id="clique_input_zip" class="profont expiry number" placeholder="ZIP" maxlength="5" size="5" pattern="\d*" data-formance_length=5 ng-model="formData.ZIPcode" ng-focus="expiryFocus()" autofocs>
        <!-- Second checkbox -->
        <div class="checkmark"></div>
      </div>
    </div>

    <div class="form-group">
      <button class="proceed_button" ng-click="setShowPage()">Continue</button>
    </div>
    <div data-ng-show="error" class="text-danger">
      <strong data-ng-bind="error"></strong>
    </div>
    </div>
  </section>
  <section ng-hide="showPageFlag">
    <div id="clique_ordersummary" class="wrapper">
      <!--Back-->
      <!-- <a ui-sref="main">Back</a> -->
      <!--Amount-->
      <div class="summaryordertotal">
        <label class="inputlabel">
          <img alt="Bowtie" src="../modules/giftcards/img/bowtie.png" />
        </label>
        <div class="rightColumn helveticaText">
          Send this gift of
          <span class="bold">${{gc.amount}}</span>
        </div>
      </div>
      <!--To-->
      <label class="inputlabel">To</label>
      <div class="heart rightColumn">
        {{gc.giftRecipientFirstName}}
      </div>
      <!--Phone Number-->
      <div id="clique_phonenumber" ng-class="{nextInput: !dirty.PhoneNumber}">
        <label class="inputlabel" for="clique_input_phonenumber">
          <img alt="Enter Phone Number" src="../modules/giftcards/img/phone.png" />
        </label>
        <input type="text" id="clique_input_phonenumber" class="helveticaInput rightColumn phone_number" placeholder="(XXX) XXX-XXXX" maxlength="14" pattern="\d*" data-ng-model="gc.mobileNumberOfRecipient" >
      </div>
      <!--From-->
      <div>
        <label class="inputlabel">From</label>
        <div class="heart rightColumn">
          {{gc.giftSenderFirstName}}
        </div>
      </div>
      <!--Send Receipt To-->
      <div>
        <label class="inputlabel">&nbsp;</label>
        <div class="rightColumn helveticaText">Send receipt to</div>
      </div>

      <!--Email-->
      <div id="clique_email" ng-class="{nextInput: !dirty.Email}">
        <label class="inputlabel">
          <img alt="Enter Email Address" src="../modules/giftcards/img/emailsign_blk.png" />
        </label>
        <input type="email" id="clique_input_email" class="rightColumn helveticaInput email" placeholder="you@email.com" data-formance_algorithm='complex' ng-model="gc.emailForReceipt">
      </div>

      <!--Schedule Gift-->
      <div>
        <a ui-sref="final" ng-show="dirty.Email">
          <button class="proceed_button" ng-click="processForm()" ng-disabled="!pagesValid.main || !pagesValid.review">Schedule Order</button>
        </a>
      </div>
      <a ng-href="/#!/sent">
        <button class="proceed_button">Submit</button>
      </a>
  </form>
    </div>
  </section>
</section>
