<section data-ng-controller="GiftcardsController">

  <div class="wrapper">
    <!-- logo -->
    <img class="clique_logo" src="modules/giftcards/img/logo-local-gift-card-blk.png">
    <!-- To -->
    <label class="inputlabel" for="giftRecipientName">To:</label>

    <input type="text" ng-model="gc.setOccasionBack" id="giftRecipientFirstName" class="heart rightColumn" maxlength="16" placeholder="First Name" ng-pattern="/^\p{L}+$/" autofocus required>

    <!--Amount-->
    <div id="clique_amt_wrapper">
    <div id="clique_amt_selection" ng-show="priceSelectionFlag">
      <span class="leftarrow"></span>
      <div id="clique_amt_scrollwindow">
        <span ng-repeat="price in prices" class="price" ng-class="{active: isAmount(price)}" ng-click="setAmount(price); "><small>$</small>{{price}}</span>
      </div>
      <span class="rightarrow"></span>
    </div>

    <div id="clique_amt" ng-hide="priceSelectionFlag" ng-click="setBack()">
      <label class="inputlabel" >$</label>
      <div class="helveticaInput rightColumn">{{gc.amount}}</div>
    </div>
  </div>

    <!--From-->
    <div id="clique_from" ng-class="{nextInput: isNextInput('giftSenderFirstName')}">
      <label for="From" class="inputlabel">From:</label>
      <input type="text" id="clique_input_from" class="heart rightColumn" placeholder="Your Name" maxlength="16" ng-pattern="/^\p{L}+$/" ng-model="gc.giftSenderFirstName" required>
    </div>
    <!-- ng-show="dirty.Occasion || valid.Code" -->

    <!--Occasion-->
    <div id="clique_occasion_wrapper" >
      <div id="clique_occasion_selection" class="roundWhiteBorder" ng-show="occasionSelectionFlag">
        <ul>
          <li ng-repeat="occasion in occasions" ng-click="setOccasion(occasion)">
            <img ng-src="{{occasion.images.normal}}">{{occasion.alt}}
          </li>
        </ul>
      </div>
      <div id="clique_occasion" ng-hide="occasionSelectionFlag">
        <label for="clique_input_occasion" class="inputlabel" ng-click="setOccasionBack()">
          <img ng-src ="{{occasions.selectedIcon}}">
        </label>
        <div id="clique_input_occasion_wrapper" class="rightColumn">
          <textarea id="clique_input_occasion" maxlength="100"  ng-trim="false" ng-model="gc.occasion" autofocus required></textarea>
          <span id="occCharCount">{{100 - gc.occasion.length}} characters left</span>
        </div>
        <!--note: <textarea maxlength="100"> is only supported in HTML 5-->
      </div>
    </div>

    <!--Date-->
    <div id="clique_date_wrapper" ng-show="allDirtyBefore('Date')">
      <div id="clique_date_selection" class="roundWhiteBorder">
        <label class="inputlabel">Send</label>
        <div id="dateImages" class="rightColumn">
          <div id="sendToday" ng-click="setDateType('today')">
            <img id="sendTodayImg" src="modules/giftcards/img/send-today-wht.png" alt="Send Today"> Today
          </div>
          <div id="sendOnDate" ng-click="setDateType('on-date')">
            <img id="sendOnDateImg" src="modules/giftcards/img/send-on-date-wht.png" alt="Choose a Date"> On date
          </div>
        </div>
      </div>

      <div id="clique_date" class="hide">
        <label for="clique_input_date" class="inputlabel">
          <img ng-src="{{dateTypeImg}}" alt="Chosen Date">
        </label>
        <input type="text" id="clique_input_date" class="rightColumn" pick-a-date="" required>
      </div>
    </div>

    <!--Pay by card-->
    <div id="clique_payment_card" class="roundWhiteBorder" ng-show="allDirtyBefore('CreditCardNumber')">
      <div id="creditcardnumbercontainer" class="paymentcontainer">
        <img id="creditcardimg" ng-src="{{cardTypeImg}}">
        <input type="text" id="clique_input_creditcardnumber" class="profont checkinput credit_card_number" placeholder="XXXX XXXX XXXX XXXX" size="19" pattern="\d*" ng-model="formData.CreditCardNumber" ng-change="updateCreditCardImg()" ng-focus="ccnFocus()"
        required>
        <div class="checkmark"></div>
      </div>
      <div id="creditcardinfo" class="paymentcontainer filledIn">
        <input type="text" id="clique_input_expiry" class="profont expiry credit_card_expiry" placeholder="MM / YYYY" maxlength="9" size="9" pattern="\d*" ng-model="formData.Expiry" ng-focus="expiryFocus()" required>
        <input type="text" id="clique_input_cvv" class="profont expiry credit_card_cvc" placeholder="CVV" maxlength="4" size="4" pattern="\d*" ng-model="formData.CVV" ng-focus="expiryFocus()" required>
        <input type="text" id="clique_input_zip" class="profont expiry number" placeholder="ZIP" maxlength="5" size="5" pattern="\d*" data-formance_length=5 ng-model="formData.ZIPcode" ng-focus="expiryFocus()" required>
        <div class="checkmark"></div>
      </div>
    </div>
    <div class="form-group">
      <a ng-href="/#!/review">
        <button class="proceed_button">Continue</button>
      </a>
    </div>
    <div data-ng-show="error" class="text-danger">
      <strong data-ng-bind="error"></strong>
    </div>
  </div>
</section>
