<section data-ng-controller="GiftcardsController">
  <!-- <div class="page-header">
    Logo
    <h1>New Giftcard</h1>
  </div> -->
<div class="wrapper">
  <!-- Logo -->
  <img id="clique_logo" src="../public/images/logo-local-gift-card-blk.png">
  <form name="giftcardForm"class="form-horizontal" data-ng-submit="create()" novalidate>
    <fieldset>

      <!-- Amount -->
      <label class="control-label" for="amount">Amount</label>
        <div class="controls">
          <input type="number" data-ng-model="amount" id="amount" class="form-control" placeholder="0.00" required>$
        </div>
      <!-- From -->
      <label class="control-label" for="giftRecipientName">Enter Your friends Name</label>
        <div class="controls">
          <input type="text" data-ng-model="giftRecipientName" id="giftRecipientName" class="form-control" placeholder="A friends name" required>
        </div>
        <!-- Code -->
        <!-- quick note on the giftcard, the code they enter, is connected to a merchant, and all the code does is show you who
        where this giftcard was bought, or something like that. it's a code that connects to a prepopulated pool -->
      <label class="control-label" for="cliqueCode">Code</label>
        <div class="controls">
          <input type="text" data-ng-model="cliqueCode" id="cliqueCode" class="form-control" placeholder="code" maxlength="5" required>
        </div>
        <!--  for now it is just a bucket, i'll add in the animations later -->
        <!-- Occasion -->
        <!-- TODO: another thing I can come back too, all this has to do is connect to a prepopulated database of phrases. -->
        <!-- Date -->
        <!--TODO: add in the date and picker later, don't need right now-->
    </fieldset>
    <div class="form-group">
      <input type="submit" class="btn btn-default">
   </div>
     <div data-ng-show="error" class="text-danger">
       <strong data-ng-bind="error"></strong>
     </div>
  </form>
  <!-- Payment Type -->
  <!-- TODO: add in the credit card stuff as a seperate form. -->
  <!-- Pay by Card -->
  <!-- Go to Order Review Page -->
  </div>
</section>
