<section data-ng-controller="GiftcardsController">
  <div id="clique_ordersummary" class="wrapper">
    <!--TODO: Add a back button-->
  <!-- <a ui-sref="main">Back</a> -->
    <form name="giftcardForm2" class="form-horizontal" data-ng-submit="create()" novalidate>
      <!-- Show the amount they are sending -->
      <!-- TODO: Show the Amount from previous page, but read only.-->
      <fieldset>
        <!-- TODO: Show Amount Again -->
        <!-- TODO: Show Your Frinds Name -->
        <!-- Enter in Your Friends Mobile Number-->
        <label class="control-label" for="mobileNumberOfRecipient">Mobile Number</label>
        <div class="controls">
          <input type="mobileNumberOfRecipient" data-ng-model="mobileNumberOfRecipient" id="mobileNumberOfRecipient" class="form-control" placeholder="(XXX)-XXX-XXXX" maxlength="10" autofocus required>
        </div>
      <!--  Send Reciept to -->
        <label class="control-label" for="emailForReceipt">Enter an Email for the Reciept</label>
          <div class="controls">
<!--             in final verison this probably won't exist, the user will just get an email, because we have that info
-->            <input type="emailForReceipt" data-ng-model="emailForReceipt" id="emailForReceipt" class="form-control" placeholder="your@email.com" required>
          </div>

          <!-- <label class="control-label" for="districtNumber">District Number</label>
          <div class="controls">
            <input type="text" data-ng-model="districtNumber" id="districtNumber" class="form-control" placeholder="A nother Number" required>
          </div> -->
        </div>
        <div class="form-group">
          <!-- TODO: Schedule when to send the gift -->
          <input type="submit" class="btn btn-default">
       </div>
        <!-- once it's all done it just loads the splash screen. -->
       <div data-ng-show="error" class="text-danger">
         <strong data-ng-bind="error"></strong>
       </div>
     </fieldset>
    </form>
  </div>
</section>
