<section data-ng-controller="GiftcardsController">
  <div id="clique_ordersummary" class="wrapper">
    <!--TODO: Add a back button-->
  <!-- <a ui-sref="main">Back</a> -->
    <form name="giftcardForm2" class="form-horizontal" data-ng-submit="create()" novalidate>
      <!-- Show the amount they are sending -->
      <!-- TODO: Show the Amount from previous page, but read only.-->
      <fieldset>
      </div>
        <div class="form-group">
          <!-- TODO: Schedule when to send the gift -->
          <input type="submit" class="btn btn-default">
       </div>
        <!-- once it's all done it just loads the splash screen. -->
       <div data-ng-show="error" class="text-danger">
         <strong data-ng-bind="error"></strong>
       </div>
     </fieldset>
    </form>
  </div>
</section>
