<section data-ng-controller="GiftcardsController">
   <div class="page-header">
      <h1>New Giftcard</h1>
   </div>
   <div class="col-md-12">
      <form name="giftcardForm" class="form-horizontal" data-ng-submit="create()" novalidate>
         <fieldset>
            <div class="form-group">
               <label class="control-label" for="amount">Amount</label>
               <div class="controls">
                  <input name="amount" type="amount" data-ng-model="amount" id="title" class="form-control" placeholder="$23.000" required>
               </div>
            </div>
            <div class="form-group">
               <label class="control-label" for="stripeOrderId">Stripe Order Id</label>
               <div class="controls">
                  <input name="stripeOrderId" type="text" data-ng-model="stripeOrderId" id="stripeOrderId" class="form-control" placeholder="ch_93bj3j4" required>
               </div>
            </div>
            <div class="form-group">
               <label class="control-label" for="occasion">Occasion</label>
               <div class="controls">
                  <input name="Occasion" type="text" data-ng-model="occasion" id="occasion" class="form-control" placeholder="a gift for you" required>
               </div>
            </div>
               <div class="form-group">
               <label class="control-label" for="purchaserOfGiftCard">purchaserOfGiftCard</label>
               <div class="controls">
                  <input name="purchaserOfGiftCard" type="text" data-ng-model="purchaserOfGiftCard" id="purchaserOfGiftCard" class="form-control" placeholder="as;dlfk2" required>
               </div>
            </div>
            <div class="form-group">
               <label class="control-label" for="spenderOfGiftCard">spenderOfGiftCard</label>
               <div class="controls">
                  <input name="spenderOfGiftCard" type="text" data-ng-model="spenderOfGiftCard" id="spenderOfGiftCard" class="form-control" placeholder="spenderOfGiftCard" required>
               </div>
            </div>

   </div>
   <div class="form-group">
      <input type="submit" class="btn btn-default">
   </div>
   <div data-ng-show="error" class="text-danger">
      <strong data-ng-bind="error"></strong>
   </div>
   </fieldset>
   </form>
   </div>
</section>
