<section data-ng-controller="GiftcardsController">
  <div class="page-header">
    <h1>New Giftcard</h1>
  </div>
  <div class="col-md-12">
    <form name="giftcardForm"class="form-horizontal" data-ng-submit="create(merchantForm$valid)" novalidate>
      <fieldset>
          <!-- To Someone's phone -->
          <label class="control-label" for="username">Enter an Exister UserName</label>
          <div class="controls">
            <input type="text" data-ng-model="toUserUserName" id="recieverOfGiftCard" class="form-control" placeholder="username" required>
          </div>
          <!-- Amount -->
          <label class="control-label" for="amount">Amount</label>
          <div class="controls">
            <input type="number" data-ng-model="amount" id="amount" class="form-control" placeholder="$0.00" required>
          </div>
          <!-- <label class="control-label" for="districtNumber">District Number</label>
          <div class="controls">
            <input type="text" data-ng-model="districtNumber" id="districtNumber" class="form-control" placeholder="A nother Number" required>
          </div> -->
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
       </div>
       <div data-ng-show="error" class="text-danger">
         <strong data-ng-bind="error"></strong>
       </div>
     </fieldset>
    </form>
  </div>
</section>
