<section data-ng-controller='ListGiftCardsController' data-ng-init="find()">
    <div class="page-header">
        <table class = "sub-header">
            <tr>
                <a href="/#!/giftcards/create"><td>Give</td></a>
                <td>{{totalValue()}}</td>
            <tr>
        </table>
        <h1 class = "listNameHeader heart">{{giftcards[0].to}}</h1>
        <h1>Gifts received</h1>
    </div>
    <h4 ng-hide="giftcards.length < 1">Unused</h4>
    <div class="list-group">
        <a data-ng-repeat="giftcard in giftcards" data-ng-href="#!/giftcards/{{giftcard._id}}" class="list-group-item">
          <h3>{{giftcard.from}}</h3><h3>{{giftcard.amt}}</h3>

          <small class="list-group-item-text">

				<span data-ng-bind="giftcard.created | date:'medium'"></span>
				by
				<span data-ng-bind="giftcard.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="giftcard.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!giftcards.$resolved || giftcards.length">
    	No Giftcards yet, why don't you <a href="/#!/giftcards/create">create one</a>?
    </div>
</section>
