<section class="flatRowSection" data-ng-controller="SelectMerchantController" data-ng-init="init()">
    <div class="page-header">
        <h1>Select Merchant</h1>
    </div>
    <div class="list-group flatRowList">
        <a data-ng-repeat="merchant in merchants" data-ng-href="#!/merchants/{{giftcard._id}}" class="list-group-item flatRowListItem">
          <h3>{{merchant.name}}</h3>

          <small class="list-group-item-text">
				<span data-ng-bind="merchant.address"></span>
			</small>
            <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true">
        </a>
    </div>
</section>
