<section data-ng-controller="ThankYouController" ng-init = "find()">

	<!-- our nav/status bar -->
	<!-- header section with give option, clique logo and available balance -->
	<table class = "sub-header">
		<tr>
			<td class="paddingLeft"><a class="blackText navText" href="/#!/giftcards/create">
				<img class = "imagePaddingRight" ng-src="/modules/giftcards/img/bowtie.png" alt="Give Icon" height="15px" width="30px">
				Give</a></td>
				<td class = "textRightAlign blackText navText paddingRight">{{totalValue()}}</td>
				<tr>
	</table>

	<!--Our occasion Icon -->

	<!-- Our occasion Heading -->
	<h1 class = "center heart">{{giftcards[0].occasionHeading}}</h1>

	<!-- Our message -->
	<h4 class = "center">${{purchaseValue()}} was successfully transferred.
		Wanna send a thank you to {{giftcards[0].from}}?</h4>

	<!-- div to enter thank you note -->
	<form>
		<div class = "currentTarget">
			<!-- input box -->
			<input type="text" value="{{giftcards[0].from}}, I used the
			Local Giftcard at "> 
		</div>
	</form>
</section>
