<section data-ng-controller="ThankYouController">

	<!-- our nav/status bar -->
	<!-- header section with give option, clique logo and available balance -->
	<table class = "sub-header">
		<tr>
			<td class="paddingLeft"><a class="blackText navText" href="/#!/giftcards/create">
				<img class = "imagePaddingRight" ng-src="/modules/giftcards/img/bowtie.png" alt="Give Icon" height="15px" width="30px">
				Give</a></td>
				<td class = "textRightAlign blackText navText paddingRight">{{totalValue()}}</td>
				<tr>
	</table>

	

</section>
