<section class="upside" data-ng-controller="TriconController">
	<!-- The amount entered -->
	<h2 class="whiteText center">${{getAmount()}}</h2>

	<!-- down arrow -->
	<img class="center upside" src="/modules/giftcards/img/up-arrow-wht.png">

	<!--Merchants name -->
	<h2 class="whiteText center">{{getMerchant()}}</h2>


	<!-- Our Tricon Pad -->
	<!-- Our table for tricon, the dialpad -->
	<table class="dialPad upside" align="center">

		<tr ng-repeat="n in tableLayout">
			<!-- Using inline styles for our randomization so we can edit this later-->
			<td ng-repeat="i in n" style="background-image: url(/modules/giftcards/img/tricon/{{images[i]}}.png);" class="triconButton" ng-mousedown="pressed($event, i);" ng-mouseup="unpressed($event, i);"></td>
		</tr>
	</table>


</section>
