<!-- The Loading Spinner that will show on page load -->
<div ng-include src = "'views/loadingSpinner.html'"></div>

<section class="upside" ng-init = "getLocation()">

	<!-- The amount entered -->
	<h2 class="whiteText center">${{getAmount()}}</h2>

	<!-- down arrow -->
	<img class="center upside" src="../images/up-arrow-wht.png">

	<!--Merchants name -->
	<h2 class="whiteText center">{{merchantLocation.name}}</h2>

	<!-- Our checkmark -->
	<img class = "confirmationCheckmark" src="../images/checkmark-wht.png">

</section>
