    <!-- call whatever method you want on submit -->
<section ng-hide="showPage2">
    <form name="giftcardForm" class="form-horizontal" novalidate>
    <div class="wrapper">

      <!-- logo -->
      <div class="clique_logo_wrapper"><img class="clique_logo" src="../images/logo-local-gift-card-blk.png"></div>

      <!-- To, remove ng click to fix functionality -->
      <div id="clique_to" class = "currentInput createTo">
        <label class="inputlabel" for="giftRecipientName">To</label>
        <input type="text" name="clique_input_to" id="clique_input_to" ng-model="gc.to" class="heart rightColumn" maxlength="16" placeholder="First Name" ng-focus="setActiveField('clique_to');" ng-keypress="keyPress($event, 'clique_input_from')" autocomplete="off" autocorrect="off" spellcheck="false" required>
      </div>

      <!--Amount-->
      <div id="clique_amt_selection" class = "currentInput" ng-hide="amountSelected">
        <span class="leftarrow"></span>
        <div id="clique_amt_scrollwindow">
          <span ng-repeat="price in prices" class="price" ng-class="{active: isAmount(price)}" ng-click="setActiveField('clique_from');setSecondaryField(2);setAmount(price);">
            <small>$</small>{{price}}
          </span>
        </div>
        <span class="rightarrow"></span>
      </div>
      <div id="clique_amt" ng-show="amountSelected" ng-click="amountSelected = false">
        <label class="inputlabel">$</label>
        <div class="helveticaInput rightColumn">{{gc.amount}}</div>
      </div>
    </div>

    <!--From, remove ng click to fix functionality -->
    <div id="clique_from" class = "currentInput">
      <label for="From" class="inputlabel">From </label>
      <input type="text" name="clique_input_from" id="clique_input_from" ng-model="gc.from" class="heart rightColumn" placeholder="Your Name" maxlength="16" ng-focus="setActiveField('clique_from');setSecondaryField(2);" ng-keypress="keyPress($event, 'clique_input_code');" autocomplete="off" autocorrect="off" spellcheck="false" required>
    </div>
    <!-- ng-show="dirty.Occasion || valid.Code" -->
    <br>


    <!--Code, remove ng click to fix functionality -->
    <!-- little demo thing -->
    <div id="clique_code_wrapper" class = "waterfall" ng-show = "giftcardForm.clique_input_to.$dirty && giftcardForm.clique_input_from.$dirty">
      <div id="flip_container" class = "waterfall" ng-show = "showCard">
        <div class="dummy"></div>
        <div id="front" class="card"></div>
        <div id="back" class="card">
          <div class="profont blackstrip">XXXXX</div>
          <img src="../images/circle-outline.png" alt="Clique Code Outline">
        </div>
      </div>

      <div id="clique_code" class="createCode" ng-hide = "giftcardForm.clique_input_code.$valid">
        <label for="Code" class="inputlabel">Code</label>
        <input type="number" name="clique_input_code" id="clique_input_code" class="profont rightColumn number" ng-focus="setActiveField('clique_code');setSecondaryField(3);showCard = true;flipCard();"
        placeholder="XXXXX" maxlength="5" ng-minlength="5" size="3" ng-keypress="codeValidate('clique_input_code', $event, 5, 'clique_occasion_selection','clique_occasion_selection')" ng-model="gc.code" ng-change="getStoreName()"
        ng-keypress="codeValidate('clique_input_code', $event, 5)" required>
      </div>

      <div id="clique_code_message" ng-show = "giftcardForm.clique_input_code.$valid">
        <label class="inputlabel">
          <img src="../images/at-icon-blk.png" >
        </label>
        <div class="createCodeMessage">
          Good at
          <span class="bold">{{getMerchantName()}}</span>
          <span class="italicMessage">and participating merchants</span>
        </div>
      </div>
    </div>
    <br>

    <!--Occasion-->
    <div class = "waterfall" ng-show="giftcardForm.clique_input_code.$dirty && giftcardForm.clique_input_code.$valid && secondaryIndex > 2">
        <div id="clique_occasion_wrapper" class = "createGiftCardWidth currentInputNoBorder">
          <div id="clique_occasion_selection" class="roundWhiteBorder" ng-show="occasionSelectionFlag">
            <ul>
              <li ng-repeat="occasion in occasions" ng-click="setOccasion(occasion);setActiveField('clique_occasion_wrapper');setSecondaryField(4);">
                <img ng-src="{{occasion.images.selected}}">{{occasion.alt}}
              </li>
            </ul>
          </div>

          <div id="clique_occasion" ng-hide="occasionSelectionFlag">
            <label for="clique_input_occasion" class="inputlabel" my-touchstart="setOccasionBack()" my-touchend="setActiveField('clique_occasion');">
              <img ng-src="{{occasions.selectedIcon}}">
            </label>

            <div id="clique_input_occasion_wrapper" class="rightColumn">
              <textarea id="clique_input_occasion" maxlength="100" ng-trim="false" ng-model="gc.occasion" ng-focus = "occasionFocused = true;setActiveField('clique_occasion');" ng-blur = "occasionFocused = false"></textarea>
              <span id="occCharCount" ng-show = "occasionFocused">{{100 - gc.occasion.length}} characters left</span>
            </div>
            <!--note: <textarea maxlength="100"> is only supported in HTML 5-->
          </div>
        </div>
    </div>
    <br>

    <!--Date picker -->
    <div class = "waterfall" ng-show = "secondaryIndex > 3">
        <input placeholder="Tap to set a date"
        class = "createGiftCardWidth center roundWhiteBorder currentInput datePicker"
        type="text" id="clique_date_selection" name="clique_date_selection" ng-model="gc.date" min="{{minDate}}" max="{{maxDate}}"
        show-weeks="true" my-touchstart="setActiveField('clique_date_selection');setSecondaryField(5);setDate();"
        ng-blur = "scrollToElement('creditcardinfo')" required></input>
    </div>

    <!--Pay by card-->
    <div class = "waterfall" ng-show="giftcardForm.clique_date_selection.$dirty && giftcardForm.clique_date_selection.$valid && secondaryIndex > 4">
        <div id="clique_payment_card" class = "roundWhiteBorder createGiftCardWidth">
          <!-- Inner Container -->
          <div id="creditcardnumbercontainer" class = "paymentcontainer currentInputNoBorder">
            <!-- Credit Card Logo Img -->
            <img class = "creditCardIcon" ng-src="{{cardIcon}}">
            <!-- Credit Card Number Input -->
            <input type="number" name="clique_input_creditcardnumber1" id="clique_input_creditcardnumber1" class="profont creditCardNumInput" placeholder="XXXX" size="4" maxlength="4" minlength="4" pattern="\d*" ng-focus="setActiveField('creditcardnumbercontainer');" ng-model="cc.number1" ng-keyup = "validateCardNumber()" ng-keypress="codeValidate('clique_input_creditcardnumber1', $event, 4, 'continue_button', 'creditcardnumbercontainer');" onKeyUp="if(document.getElementById('clique_input_creditcardnumber1').value.length > 3){document.getElementById('clique_input_creditcardnumber2').focus();}">
            <input type="number" name="clique_input_creditcardnumber2" id="clique_input_creditcardnumber2" class="profont creditCardNumInput" placeholder="XXXX" size="4" maxlength="4" minlength="4" pattern="\d*" ng-focus="setActiveField('creditcardnumbercontainer');" ng-model="cc.number2" ng-keyup = "validateCardNumber()" ng-keypress="codeValidate('clique_input_creditcardnumber2', $event, 4, 'continue_button', 'creditcardnumbercontainer');" onKeyDown="if(document.getElementById('clique_input_creditcardnumber2').value.length < 1 && event.keyCode == 8){document.getElementById('clique_input_creditcardnumber1').focus();}" onKeyUp="if(document.getElementById('clique_input_creditcardnumber2').value.length > 3){document.getElementById('clique_input_creditcardnumber3').focus();}">
            <input type="number" name="clique_input_creditcardnumber3" id="clique_input_creditcardnumber3" class="profont creditCardNumInput" placeholder="XXXX" size="4" maxlength="4" minlength="4" pattern="\d*" ng-focus="setActiveField('creditcardnumbercontainer');" ng-model="cc.number3" ng-keyup = "validateCardNumber()" ng-keypress="codeValidate('clique_input_creditcardnumber3', $event, 4, 'continue_button', 'creditcardnumbercontainer');" onKeyDown="if(document.getElementById('clique_input_creditcardnumber3').value.length < 1 && event.keyCode == 8){document.getElementById('clique_input_creditcardnumber2').focus();}" onKeyUp="if(document.getElementById('clique_input_creditcardnumber3').value.length > 3){document.getElementById('clique_input_creditcardnumber4').focus();}">
            <input type="number" name="clique_input_creditcardnumber4" id="clique_input_creditcardnumber4" class="profont creditCardNumInput" placeholder="XXXX" size="4" maxlength="4" minlength="4" pattern="\d*" ng-focus="setActiveField('creditcardnumbercontainer');" ng-model="cc.number4" ng-keyup = "validateCardNumber()" ng-keypress="codeValidate('clique_input_creditcardnumber4', $event, 4, 'continue_button', 'creditcardnumbercontainer');" onKeyDown="if(document.getElementById('clique_input_creditcardnumber4').value.length < 1 && event.keyCode == 8){document.getElementById('clique_input_creditcardnumber3').focus();}">
            <!-- Checkmark box to the right -->
            <img class = "creditCardCheck" src = "../images/checkmark-blk.png" ng-show = "validCC">
          </div>
          <!-- lower box that within same box but differnet background -->
          <div id="creditcardinfo" class="paymentcontainer currentInputNoBorder">
            <!-- Date input for credit card -->
            <input type="number" name="clique_input_expiry_m" id="clique_input_expiry_m" class="profont currentInput expiryM " ng-keyup = "validateDate()" placeholder="MM" maxlength="2" ng-minlength="2" size="5" pattern="\d*" ng-model="cc.ExpiryM" ng-focus="expiryFocus();setActiveField('creditcardinfo');" ng-keypress="codeValidate('clique_input_expiry_m', $event, 2, 'continue_button', 'creditcardinfo')" onKeyUp="if(document.getElementById('clique_input_expiry_m').value.length > 1){document.getElementById('clique_input_expiry_y').focus();}">
            <input type="number" name="clique_input_expiry_y" id="clique_input_expiry_y" class="profont currentInput expiryY" ng-keyup = "validateDate()" placeholder="YYYY" maxlength="4" ng-minlength="4" size="5" pattern="\d*" ng-model="cc.ExpiryY" ng-focus="expiryFocus();setActiveField('creditcardinfo');" ng-keypress="codeValidate('clique_input_expiry_y', $event, 4, 'continue_button', 'creditcardinfo')" onKeyUp="if(document.getElementById('clique_input_expiry_y').value.length > 3){document.getElementById('clique_input_cvv').focus();}">
            <!-- CVV for Credit Card -->
            <!-- TODO: Come back and split up the month and year -->
            <input type="number" name="clique_input_cvv" id="clique_input_cvv" class="profont currentInput cvv" ng-keyup = "validateCVC()" placeholder="CVC" maxlength="3" ng-minlength="3" size="5" pattern="\d*" ng-model="cc.cvc" ng-focus="expiryFocus();setActiveField('creditcardinfo');" ng-keypress="codeValidate('clique_input_cvv', $event, 3, 'continue_button', 'creditcardinfo')" onKeyUp="if(document.getElementById('clique_input_cvv').value.length > 2){document.getElementById('clique_input_zip').focus();}">
            <!-- Zip for credit card -->
            <input type="number" name="clique_input_zip" id="clique_input_zip" numbers-only="numbers-only" ng-keyup = "validateZip()" class="profont currentInput zipCC" placeholder="ZIP" maxlength="5" ng-minlength="5" size="5" pattern="\d*" ng-model="cc.ZIPcode" ng-focus="expiryFocus();setActiveField('creditcardinfo');" ng-keypress="codeValidate('clique_input_zip', $event, 5, 'continue_button', 'creditcardinfo')">
            <img class = "creditCardCheck" src = "../images/checkmark-blk.png" ng-show = "dateValidated && cvcValidated && zipValidated">
          </div>
        </div>

        <div data-ng-hide="(giftcardForm.$valid && gc.amount && gc.occasion && cardValidated)" class="form-incomplete blackText createGiftCardWidth">
          <strong>Please complete all information</strong>
        </div>
        <div data-ng-show="tokenizeFailure" class="text-danger form-incomplete createGiftCardWidth">
          <strong>Oops, something went wrong! Please check your card information</strong>
        </div>

    </div>
    <div class="createGiftCardWidth waterfall" ng-show="
    giftcardForm.clique_input_creditcardnumber1.$dirty &&
    giftcardForm.clique_input_creditcardnumber2.$dirty &&
    giftcardForm.clique_input_creditcardnumber3.$dirty &&
    giftcardForm.clique_input_creditcardnumber4.$dirty &&
    giftcardForm.clique_input_expiry_m.$dirty &&
    giftcardForm.clique_input_expiry_y.$dirty &&
    giftcardForm.clique_input_cvv.$dirty &&
    giftcardForm.clique_input_zip.$dirty">
      <button class="proceed_button" id="continue_button"
          ng-disabled="!(giftcardForm.$valid && gc.amount && gc.occasion && cardValidated)" ng-click="tokenizeInfo();">Continue</button>
    </div>
    <div data-ng-show="error" class="text-danger">
      <strong data-ng-bind="error"></strong>
    </div>
    </div>
   </form>
  </section>


  <!-- PAGE 2 BREAK -->


  <section class = "waterfall" ng-show="showPage2">
   <form name="giftcardForm2" id="giftcardForm2" class="form-horizontal" novalidate>
    <div id="clique_ordersummary" class="wrapper">
      <!--Back-->
      <!-- <a ui-sref="main">Back</a> -->
      <!--Amount-->
      <div class="summaryordertotal">
        <label class="inputlabel">
          <img alt="Bowtie" src="../images/bowtie.png" />
        </label>
        <div class="rightColumn helveticaText">
          Send this gift of
          <span class="bold">${{gc.amt}}</span>
        </div>
      </div>
      <!--To-->
      <label class="inputlabel">To</label>
      <div class="heart rightColumn">
        {{gc.to}}
      </div>
      <!--Phone Number-->
      <div id="clique_phonenumber" class = "createGiftCardWidth" ng-class="{nextInput: !dirty.PhoneNumber}">
        <label class="inputlabel" for="clique_input_phonenumber">
          <img alt="Enter Phone Number" src="../images/phone.png" />
        </label>
        <input type="tel" ng-keydown="maskPhone('clique_input_phonenumber', $event)" name="clique_input_phonenumber" id="clique_input_phonenumber" class="helveticaInput rightColumn phone_number" placeholder="(XXX) XXX-XXXX" maxlength="13" ng-minlength="13" data-ng-model="gc.phoneNumber">
      </div>
      <!--From-->
      <div>
        <label class="inputlabel">From</label>
        <div class="heart rightColumn">
          {{gc.from}}
        </div>
      </div>
      <!--Send Receipt To-->
      <div>
        <label class="inputlabel">&nbsp;</label>
        <div class="rightColumn helveticaText">Send receipt to</div>
    </div>

      <!--Email-->
      <div id="clique_email" class = "createGiftCardWidth" ng-class="{nextInput: !dirty.Email}">
        <label class="inputlabel">
          <img alt="Enter Email Address" src="../images/emailsign_blk.png" />
        </label>
        <input type="email" name="clique_input_email" id="clique_input_email" class="rightColumn helveticaInput email blackText" placeholder="you@email.com" data-formance_algorithm='complex' ng-model="gc.email" required>
      </div>

      <!--Schedule Gift-->
      <div data-ng-hide="(giftcardForm2.$valid && clique_input_phonenumber_validity && validateEmail())" class="form-incomplete blackText createGiftCardWidth">
        <strong>Please complete all information</strong>
      </div>

      <!-- Error messages from the backend -->
      <div data-ng-show="(backendError && backendRes.length > 1)" class="text-danger form-incomplete createGiftCardWidth">
        <strong>{{backendRes}}</strong>
      </div>


        <button class="proceed_button createGiftCardWidth center" ng-disabled="!(giftcardForm2.$valid && clique_input_phonenumber_validity && validateEmail())" ng-click = "submitGiftcard()">Submit</button>
    </div>
   </form>
  </section>
</section>

<!-- Very bottom of the page, use this empty element to always be able to scroll to the bottom -->
<div id = "bottom">
</div>
