<!-- The Loading Spinner that will show on page load -->
<div ng-include src = "'views/loadingSpinner.html'"></div>

<div ng-init = "getGiftcards()">



    <!-- Our Value that we will be spending -->
    <table class = "sub-header">
       <tr>
           <td class="amountText">${{amount}}</td>

           <td class = "enterPadding" ng-hide = "clicked == true">
               <h5 class ="linkText"> Your total balance is ${{totalValue}}.</h5>
               <h6 class ="linkText"> Enter the amount you would like to spend.</h6>
           </td>

           <td class="enteredAmount" my-touchstart="goTo('/merchants/{{Id}}/tilt')" ng-show="clicked == true">
                <p class="payText">Pay</p>
               <img class="payArrow" src="../images/auth-rt-arrow.png">
           </td>
       <tr>
   </table>

   <!-- Warning no values greater than $500 -->
   <h5 class = "amountWarning" ng-show = "warning == true">Sorry, No values greater than $500</h5>
   <h5 class = "amountWarning" ng-show = "totalWarning == true">Sorry, No values greater than your balance: ${{totalValue}}</h5>

    <!-- Our table for spending, the dialpad -->
    <table class="dialPad" align="center">

        <tr ng-repeat="n in tableLayout">
			<!-- Using inline styles for our randomization so we can edit this later-->
			<td ng-repeat="i in n">
            <!--Need to use table values for press buttont hat way we dont send th wrong values -->
			<div my-touchstart="pressButton({{tableValues[$parent.$index][$index]}});" my-touchend="pressButton(-1);" style="background-position-x: -{{i*100}}px;" class="dialButton dialSheet"></div></td>
		</tr>
        <tr>
			<!-- Using inline styles for our randomization so we can edit this later-->
            <td ng-click="goTo('/merchants')">
                <div class = "dialBack">
                    <img class = "dialBackImg" src = "../images/auth-lft-arrow.png">
                    <p class = "dialBackText">Back</p>
                </div>
            </td>
            <td>
			<div my-touchstart="pressButton(0);" my-touchend="pressButton(-1);" style="background-position-x: -{{i*100}}px;" class="dialButton dialSheet"></div>
            </td>
            <td class = "center">
                <div class = "dialBackSpace">
                    <div class = "buttonDel center" ng-show = "clicked == true" ng-click = "backSpace()">
                    </div>
                </div>
            </td>
		</tr>
    </table>

    <!-- Place the Small localight logo -->
    <img class="localightLogoBottom" ng-src="/../images/logo-localight-outline-wht.png" alt="Localight" height="45px" width="45px">

</div>
