<div class = "mainContainer">
    <!-- the default 404 and no session token was found page -->
    <h1 class = "center">Welcome to Localight</h1>
    <br />
    <h4 class = "center">To create a gift, please send "Gift" to:</h4>
    <a href="sms:562-276-2944&body=GIFT"
    ng-if="iOS">
        <h4 class = "center">(562) 276-2944</h4>
    </a>
    <a href="sms:562-276-2944?body=GIFT"
    ng-if="!iOS">
        <h4 class = "center">(562) 276-2944</h4>
    </a>
    <br />
    <h4 class = "center">And you shall recieve a URL to create a giftcard</h4>
    <br />
    <a href = "#/giftcards">
    <h4 class = "center">Or to visit your giftcards (If you have them), click here</h4>
    </a>
</div>
