<!-- The Loading Spinner that will show on page load -->
<div ng-include src = "'views/loadingSpinner.html'"></div>

<section data-ng-init="getGiftcards()">
    <div class="">

        <!-- header section with give option, clique logo and available balance -->
        <table class = "sub-header">
            <tr>
                <td class="navCell"><a ng-href="/#/giftcards/create">
                    <img class = "navBowTie" ng-src="/../images/bowtie.png" alt="Give Icon">
                    Give</a></td>
                    <td class = "localightImg">
                        <img ng-src="/../images/logo-localight-outline-blk.png" alt="Localight" height="45px" width="45px">
                    </td>
                    <td class = "textRightAlign navCell">${{totalValue}}</td>
                    <tr>
        </table>

        <!-- div for our user -->
        <div class = "listName">
            <h1 class="listUserName heart">{{giftcards[0].toId.name}}</h1>
            <img ng-src="/../images/account-icon.png" class = "listProfileIcon" alt="Profile Icon">
        </div>
        <h3 class="listSectionHeader">Gifts received</h3>
    </div>
    <div class="list-group flatRowList">
        <a class="list-group-item flatRowListItem totalAmount" ng-click="goTo('/merchants')">
        <!-- Line breaks to space the list so it's easier to click -->
            <table>
                <tr>
                    <td class="tableCell glyphAlign center">
                        <img class = "dollarIcon" ng-src = "../images/dollar-circle-icon-blk.png" width= "35px" height = "35px">
                        You have ${{totalValue}} to spend
                    </td>
                    <span class="dollarGlyphicon glyphicon-menu-right" aria-hidden="true">
                </tr>
            </table>
        </a>

        <!--spendable giftcards -->
        <h4 class = "giftSection">Recent</h4>
        <a class="list-group-item flatRowListItem" data-ng-repeat="giftcard in giftcards | filter: isNotSpent | orderBy:'+':true" data-ng-href="#/giftcards/{{giftcard._id}}">
        <!-- Line breaks to space the list so it's easier to click -->
            <table>
                <tr>
                    <td class="fromText"><img ng-src = "{{icons[giftcard.iconId]}}" width= "35px" height = "35px">{{giftcard.fromId.name}}</td>
                    <td class="textRightAlign tableCell">
                        <div class="giftlistAmount">${{giftcard.origAmount / 100}}</div></td>
                </tr>
            </table>
        </a>

        <!--spent giftcards -->
        <div ng-if = "giftcards[giftcards.length - 1].amount <= 0">
            <h4 class = "giftSection">Spent</h4>
            <a class="list-group-item flatRowListItem" ng-repeat="giftcard in giftcards | filter: isSpent | limitTo: -5 | orderBy:'+':true" ng-href="#/giftcards/{{giftcard._id}}">
            <!-- Line breaks to space the list so it's easier to click -->
                <table>
                    <tr>
                        <td class="fromTextSpent"><img ng-src = "{{icons[giftcard.iconId]}}" class = "fromIconSpent" width= "35px" height = "35px">{{giftcard.fromId.name}}</td>
                        <td class="textRightAlign tableCell">
                            <div class="giftlistAmountSpent">${{giftcard.origAmount / 100}}</div></td>
                    </tr>
                    <tr>
                        <td class = "spentFooter">
                            Spent
                        </td>
                    </tr>
                </table>
            </a>
        </div>

        <!--sent giftcards -->
        <div ng-if = "sentGiftcards">
            <h4 class = "giftSection">Sent</h4>
            <a class="list-group-item flatRowListItem" ng-repeat="giftcard in sentGiftcards | limitTo: -5 | orderBy:'+':true">
            <!-- Line breaks to space the list so it's easier to click -->
                <table>
                    <tr>
                        <td class="fromTextSent"><img ng-src = "{{icons[giftcard.iconId]}}" class = "fromIconSent" width= "35px" height = "35px">To: {{giftcard.toId.name}}</td>
                        <td class="textRightAlign tableCell">
                            <div class="giftlistAmountSent">${{giftcard.origAmount / 100}}</div></td>
                    </tr>
                    <tr>
                        <td class = "sentFooter">
                            Sent
                        </td>
                    </tr>
                </table>
            </a>
        </div>

    </div>

    <div class="alert alert-warning text-center" data-ng-hide="giftcards.length > 0">
    	No Giftcards yet, why don't you <a href="/#/giftcards/create">create one</a>?
    </div>
</section>
