<!-- The Loading Spinner that will show on page load -->
<div ng-include src = "'views/loadingSpinner.html'"></div>

<div class="container-fluid wrapper" ng-init="getGiftcard();">

    <!-- header section with give option, clique logo and available balance -->
    <table class = "sub-header">
       <tr>
           <td class = "navCell">
               <a href = "#/giftcards">
                  <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                   <p class = "merchantBackText">Back</p>
               </a>
           </td>
           <td class = "localightImg center">
               <img ng-src="/../images/logo-localight-outline-blk.png" alt="Localight" height="45px" width="45px">
           </td>
           <td class = "textRightAlign navCell">${{totalValue}}</td>
       <tr>
   </table>



    <!-- gift section -->
    <div class="giftcardContainer center">

       <!-- Occasion Icon -->
       <img class = "viewIcon" ng-src = "{{icons[giftcard.iconId]}}" width= "35px" height = "35px">

       <!-- div for our text -->
       <div class = "giftcardText">
          <!-- personal message -->
          <div class = "giftcardMessage">{{giftcard.message}}</div>

          <!-- From -->
          <h3 class = "giftcardSignature">~ {{giftcard.fromId.name}}</h3>
      </div>

      <!-- gift card image -->
      <div class = "featuredImageContainer">
          <!-- The Amount -->
          <div class = "giftAmount">
              <div class = "smallDollar">$</div>
              {{(giftcard.origAmount / 100)}}
          </div>
          <img class = "featuredImage" ng-src="{{merchants[0].image}}" alt="Merchant Image" height="50%" width="100%" />
      </div>

    </div>
    <!-- check if already spent -->
    <div ng-if = "isValid">

        <!-- amount to use at which merchant section -->
        <div class="text-center merchantInfo blackText">
          <h4 class="center giftcardAmount" id="useAmount">Use this ${{giftcard.origAmount / 100}} gift at</h4>
          <h2 class="center giftcardMerchant">{{merchants[0].name}}</h2>
        </div>

          <!-- use it now/later section -->
          <div class="giftcardButtonContainer">
              <a class="giftcardButtonSave" href="#/giftcards">Save For Later</a>
              <a class="giftcardButtonUse" ng-click = "senderId()">Use It Now</a>
          </div>

      <!-- for beta -->
      <div class="col-xs-12 text-center nearbyMerchant">
        <h4 class = "blackText">Or select from a list of local merchants</h4>
      </div>
      <div class=""></div>
      <div class="col-xs-4 merchantArrow" ng-click="showMerchantList()"></div>
      <div class="col-xs-4"></div>

      <div class="col-xs-12 merchantList">
        <div class="district" ng-repeat="location in locations">
          {{location.location}}
          <div class="shop center blackText" ng-repeat="merchant in merchantsArray">{{merchant.name}}</div>
      </div>

      </div>

</div>
