<!-- The Loading Spinner that will show on page load requests -->
<div class = "loadContainer"
ng-if = "spinner.load.length > 0 ||
spinner.error.length > 0">

    <div class = "spinner">
    </div>

    <div class = "handlerContainer"
        ng-if = "spinner.load.length > 0 &&
        spinner.error.length == 0"
        ng-repeat = "load in spinner.load">

        <h3>{{load.msg}}</h3>
    </div>

    <div class = "handlerContainer"
        ng-if = "spinner.error.length > 0"
        ng-repeat = "error in spinner.error">

        <h3>{{error}}</h3>

    </div>

</div>
