<!-- The Loading Spinner that will show on page load -->
<loading-spinner></loading-spinner>

<section>

	<!-- The navbar -->
	<!-- header section with give option, clique logo and available balance -->
	<table class = "sub-header">
		<tr>
			<td class="navCell"><a ng-href="/#/giftcards/create">
				<img class = "navBowTie" ng-src="../images/variousIcons/bowtie.png" alt="Give Icon">
				Give</a></td>
				<td class = "localightImg center">
					<img class="" ng-src="../images/variousIcons/logo-localight-outline-blk.png" alt="Localight" height="45px" width="45px">
				</td>
				<td class = "textRightAlign navCell">${{totalValue}}</td>
				<tr>
	</table>

	<!-- Send another gift header -->
	<div>
		<div class = "sendArrow">
			<img src = "../images/arrows/send-gift-arrow.png" width = "100%" height = "100%">
		</div>
		<h2 class = "heart blackText center sendAnotherText">Send another gift!</h2>
	</div>
	<!-- Thank you/ Reminder -->
	<div ng-if="sentThanks">
		<h3 class = "blackText center">Sent your thanks!</h2>
	</div>

	<div ng-if="!sentThanks">
		<h3 class = "blackText center">Reminder could not be set. (Sorry!) Reminders Coming Soon!</h2>
	</div>

	<!-- Product of localism -->
	<div class = "projectOfContainer">
		<p> A project of</p>
		<h1>Localism!</h1>
	</div>

	<!-- why does it matter to choose local -->
	<h3 class = "chooseLocal"> Why does it matter to choose local? Watch the video.</h3>

	<!-- video link -->
	<a href = "https://www.youtube.com/watch?v=TNz5Q0G-KAs">
		<img class = "localismVideo" src = "../images/variousIcons/video-play-btn-small.png">
	</a>
</section>
