<div class = "center" ng-init = "getOwner();getLocations()">

    <h1>{{owner.name}}</h1>

    <h3>Stripe Customer Id: {{owner.stripeCustomerId}}</h3>
    <h3>Email: {{owner.email}}</h3>

    <br>
    <h1>Locations</h1>
    <br>
    <button style = "margin-top: 10px;font-size: 1.5em;" ng-click = "redirectCreate()">Create a Location</button>
    <br>
    <div class = "center" ng-repeat = "location in locations">
        <h4>{{location.name}}</h4>
        <h4>{{location.triconKey}}</h4>
        <h4>{{location.address1}}</h4>
        <h4>{{location.address2}}</h4>
        <h4>{{location.city}}</h4>
        <h4>{{location.state}}</h4>
        <h4>{{location.zipcode}}</h4>
        <button style = "margin-top: 10px;font-size: 1.5em;" ng-click = "deleteLocation(location)">Delete</button>
        <br>
        <br>
    </div>

</div>
