<!-- The Loading Spinner that will show on page load -->
<div ng-include src = "'views/loadingSpinner.html'"></div>

<section class="flatRowSection" ng-init="getLocations();">


      <!-- header section with give option, clique logo and available balance -->
      <table class = "sub-header">
         <tr>
             <td class = "navCell">
                 <a ng-click = "senderId()">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                     <p class = "merchantBackText">Back</p>
                 </a>
             </td>
             <td class = "localightImg center">
                 <img class="" ng-src="/../images/logo-localight-outline-blk.png" alt="Localight" height="45px" width="45px">
             </td>
             <td class = "textRightAlign navCell">${{totalValue}}</td>
         <tr>
     </table>

    <h1 class = "whitePaddingHeader">Select Merchant</h1>

    <!-- Section to show the intendedMerchant, only show if we have one -->
    <div ng-if = "intendedMerchant">
        <h4 class = "giftSection">Selected Merchant</h4>
        <div class="list-group flatRowList">
            <a class="list-group-item flatRowListItem"data-ng-href="#/merchants/{{intendedMerchant._id}}/amount">
              <h2 class = "whiteHeader">{{intendedMerchant.name}}</h2>

                <div class = "whiteText">
                    <h4 class="list-group-item-text">
                        <span data-ng-bind="intendedMerchant.address1"></span>
                    </h4>
                    <h4 class="list-group-item-text">
                        <span data-ng-bind="intendedMerchant.address2"></span>
                    </h4>
                </div>
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true">
            </a>
        </div>
    </div>

    <!-- Section to show all of the merchants -->
    <h4 class = "giftSection">All Merchants</h4>
    <div class="list-group flatRowList">
        <a class="list-group-item flatRowListItem" ng-repeat="merchant in merchantsArray" data-ng-href="#/merchants/{{merchantsArray[$index]._id}}/amount">
          <h2 class = "whiteHeader">{{merchant.name}}</h2>

            <div class = "whiteText">
                <h4 class="list-group-item-text">
    				<span data-ng-bind="merchant.address1"></span>
    			</h4>
                <h4 class="list-group-item-text">
                    <span data-ng-bind="merchant.address2"></span>
                </h4>
            </div>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true">
        </a>
    </div>
</section>
