<!-- The Loading Spinner that will show on page load -->
<loading-spinner></loading-spinner>

<section class="flatRowSection">


      <!-- header section with give option, clique logo and available balance -->
      <table class = "sub-header">
         <tr>
             <td class = "navCell">
                 <a ng-click = "senderId()">
                     <div class = "arrowContainer">
                         <img height = "100%" width = "100%"
                         src = "../images/arrows/left-facing-arrow.png">
                     </div>
                     <p class = "merchantBackText">Back</p>
                 </a>
             </td>
             <td class = "localightImg center">
                 <img class="" ng-src="../images/variousIcons/logo-localight-outline-blk.png" alt="Localight" height="45px" width="45px">
             </td>
             <td class = "textRightAlign navCell">${{totalValue}}</td>
         <tr>
     </table>

    <h3 class = "whitePaddingHeader">Where would you like to use it?</h3>

    <!-- Section to show the intendedMerchant, only show if we have one -->
    <div ng-if = "intendedMerchant">
        <h5 class = "giftSection">Selected Merchant</h5>
        <div class="list-group flatRowList">
            <a class="list-group-item flatRowListDarker"data-ng-href="#/merchants/{{intendedMerchant._id}}/amount">
              <h3 class = "whiteHeader">{{intendedMerchant.name}}</h3>

                <div class = "whiteText">
                    <h5 class="list-group-item-text">
                        <span data-ng-bind="intendedMerchant.address1"></span>
                    </h5>
                    <h5 class="list-group-item-text">
                        <span data-ng-bind="intendedMerchant.address2"></span>
                    </h5>
                </div>
                <div class = "merchantArrowContainer">
                    <img height = "100%" width = "100%"
                    src = "../images/arrows/right-facing-arrow-E9EEF6.png">
                </div>
            </a>
        </div>
    </div>

    <!-- Section to show all of the merchants -->
    <h5 class = "giftSection">Or use it at another location</h5>
    <div class="list-group flatRowList">
        <a class="list-group-item flatRowListItem" ng-repeat="merchant in merchantsArray" data-ng-href="#/merchants/{{merchantsArray[$index]._id}}/amount">
          <h3 class = "whiteHeader">{{merchant.name}}</h3>

            <div class = "whiteText">
                <h5 class="list-group-item-text">
    				<span data-ng-bind="merchant.address1"></span>
    			</h5>
                <h5 class="list-group-item-text">
                    <span data-ng-bind="merchant.address2"></span>
                </h5>
            </div>
            <div class = "merchantArrowContainer">
                <img height = "100%" width = "100%"
                src = "../images/arrows/right-facing-arrow.png">
            </div>
        </a>
    </div>
</section>
