<section ng-init = "getGiftcards();getLocation()">

	<!-- our nav/status bar -->
	<!-- header section with give option, clique logo and available balance -->
	<table class = "sub-header">
		<tr>
			<td class="paddingLeft" style = "width: 33%;">
				<a class="blackText navText" ng-href="/#/giftcards/create/{{sessionToken}}">
				<img class = "imagePaddingRight" ng-src="../images/bowtie.png" alt="Give Icon" height="15px" width="30px">
				Give</a>
			</td>
			<td class = "center">
				<img class="" ng-src="/../images/logo-localight-outline-blk.png" alt="Localight" height="45px" width="45px">
			</td>
			<td class = "textRightAlign blackText navText paddingRight" style = "width: 33%;">${{totalValue()}}</td>
		<tr>
	</table>

	<!-- Occasion Icon -->
	<img class = "center" style = "margin-top: 10px" ng-src = "{{icons[giftcards[0].iconId]}}" width= "75px" height = "75px">

	<!-- Our occasion Heading -->
	<h1 class = "center heart" style = "margin-top: 5px">{{iconHeaders[giftcards[0].iconId]}}</h1>

	<!-- Our message -->
	<h4 class = "center">${{spentAmount}} was successfully transferred.
		Wanna send a thank you to {{giftcards[0].fromId.name}}?</h4>

	<!-- div to enter thank you note -->
	<form>
		<div class = "giftcardContainer blackText" style = "background-color: white;">
			<!-- Our text area and sign off, may be used in order to position the character counter -->
				<!-- input box, value must be done in the controller -->
				<textarea id = "thankYouNote" ng-keydown="countCharacters()" type="text" style = "font-size: 1.5em;" class = "largerText" ng-trim="false" maxlength = "160" rows = "4" autofocus>
				</textarea>
				<!-- Person's name in the lower right hand corner -->
				<div class = "textRightAlign">
				<p style = "display:inline-block" class = "textRightAlign heart">~ {{giftcards[0].fromId.name}}</p>
				<p ng-init = "countCharacters()" style = "display:inline-block; padding-left: 10px;" class = "placeHolderTextStyle textRightAlign">{{charCount}}</p>
				</div>
		</div>

		<!-- our two buttons -->
		<div class="giftcardButtonContainer" style = "margin-top: 10px">
			<a class="giftcardButtonSave" style = "padding-right: 33px; padding-left: 33px;" href="#/localism">Remind Me</a>
			<a class="giftcardButtonUse" href="#/localism">Send It Now</a>
		</div>

	</form>
</section>
