<!-- The Loading Spinner that will show on page load -->
<loading-spinner></loading-spinner>

<section class = "upside merchantTricon" ng-class = "{friendlyShake: shaky}">
	<!-- The amount entered -->
	<h2 class="whiteText center">${{getAmount()}}</h2>

	<!-- down arrow -->
	<div class = "upside">
		<div class = "authArrowContainerWide center">
			<img src = "../images/arrows/up-facing-arrow-E9EEF6.png" height = "100%" width = "100%">
		</div>
	</div>

	<!--Merchants name, upside container to fix a bug -->
	<div class = "upside">
		<h2 class="whiteText center upside triconMerchant">{{merchantLocation.name}}</h2>
	</div>

	<!-- Our tricon message -->
	<div class = "triconMessageContainer">
		<!-- Error Display -->
		<h5 class = "triconError" ng-show="errorMsg">
			{{errorMsg}}
		</h5>
		<!-- Our Tricon Pad -->
		<!-- Our table for tricon, the dialpad -->
		<h1 class = "triconStar">
			{{pressedTricon}}
		</h1>
	</div>

	<table class="dialPad upside" align="center">

		<tr ng-repeat="n in tableLayout">
			<!-- Using inline styles for our randomization so we can edit this later-->
			<td ng-repeat="i in n">
			<div my-touchstart="pressed(i, $event);" my-touchend="unpressed(i, $event);" style="background-position: -{{images[i].pos}}px 0px;" class="dialButton triconSheet"></div></td>
		</tr>
	</table>

	<!-- footer -->
	<table class = "sub-header triconForceBottom upside">
		<tr>
			<td class = "triconFooterContainer upside"><a class="blackText navText" ng-click = "senderId()">
				<img class = "cancelIcon" ng-src="../images/variousIcons/cancel-btn-orange.png" alt="Cancel Icon" height="25px" width="25px"></a>
			</td>

			<td class = "localightImg center upside">
				<img ng-src="../images/variousIcons/logo-localight-outline-wht.png" alt="Localight" height="45px" width="45px">
			</td>

			<td class = "triconFooterContainer upside"><a class="blackText navText" ng-href="/#/giftcards">
				<img class = "infoIcon" ng-src="../images/variousIcons/info-btn-aqua.png" alt="Info Icon" height="25px" width="25px"></a>
			</td>

		<tr>
	</table>

</section>
